[2016-02-29 19:29] tbranyen commented on #928
Hrm, should we use a Set instead of an Array and then coerce to an Array at the end?

[2016-02-29 19:38] jdgarcia commented on #928
The PR I referenced already fixes the issue but we could do that as an extra safeguard. Though if any duplicate were to slip through, it would still get emitted twice in an `entry` event.

[2016-02-29 19:40] jdgarcia commented on #928
Actually, I guess we could just not emit entries if they are already part of the Set.

[2016-03-01 01:48] neutrinog commented on #574
Just for the sake of others looking at this. I ran around in circles trying to get nodegit working with electron on windows. It finally came down to a simple command.

[code]
where you'll change the electron version to match whatever you are using.

Run that from within your project directory just like you were installing any other package. If there's already a `nodegit` directory in your `node_mo

[2016-03-01 14:18] johnhaley81 commented on #928
:+1: to using a Set and only emitting when a new entry is added. Though a good point that was brought up in #929 was that the API for this being an event emitter is a little wonky compared to the rest of the API. Other calls that we have for this would return a promise and use callbacks to notify the JS layer of updates and then resolve the promise with the results.

I don't know if it's something

[2016-03-01 14:59] johnhaley81 commented on #920
There must be something in the creation/execution of an async action that's preventing the process from closing down. We'll have to dig into this.

[2016-03-02 03:48] shdwjk commented on #797
I'm likewise having this issue.  I pinged on gitter as well.  I'm happy to help debugging it.

[2016-03-02 04:10] shdwjk commented on #797
I think I solved this for my case.  I have always added remotes by editing .git/config (am I not supposed to do that?).  I had done that to add my remote yet again for this repo.  However, that apparently does not add the necessary files to .git/refs/remotes/.  I removed the manual entry and added the remote with git remote add <name> <url>.  Now it works perfectly.

[2016-03-02 11:21] BoyBoBo commented on #797
@johnhaley81
Excuse me, is this a bug? I have the same problem.
It seems to need to be compared with a local commit.
When I add file 'refs/heads/master/HEAD' (write a history commitId in this file), then execute mergeBranches("master", "origin/master"), it works perfectly.
But file 'refs/heads/master/HEAD' is not exists in a initial repository usually.

Sorry, Poor English~

[2016-03-02 11:36] markov00 commented on #911
Hi, sorry but I still receive the same error with the new patched version 0.11.6

[Error: HTTP parser error: unexpected content-length header]

I'm using nodegit 0.11.6 and node 5.6.0 in osx. Also tried with node 5.7

[2016-03-02 13:55] johnhaley81 commented on #911
I'll reopen and look into this more. Thanks @markov00 for letting me know.

[2016-03-02 13:55] johnhaley81 commented on #797
This sounds like a bug and might be something in libgit2 that will need fixing.

[2016-03-03 18:30] hairyhenderson commented on #926
@johnhaley81 - is there a version of nodegit that did support node v0.10?

[2016-03-03 20:05] kvnsmth commented on #797
Running into this same issue.

It's a repository that we created locally and then added the remote later, via `Git.Remote.create(repository, 'origin', remoteURL)`. Fetching gets the database objects but `.git/refs/heads` is empty (should have a master entry). This issue on SO regarding libgit2 may be helpful: http://stackoverflow.com/questions/18575714/libgit2-returned-refspec-refs-heads-origin-he

[2016-03-03 21:11] johnhaley81 commented on #919
Implemented in #932

[2016-03-04 02:56] hairyhenderson commented on #926
To answer my own question, and to help anyone else who might run across this - it looks like v0.4.0 seems to work on Node v0.10.

[2016-03-04 21:21] tbranyen opened #939 "Implement Git server to eliminate external network requests"
Assigning this task to myself as it's something that will greatly improve our unit testing story. We currently get build failures on README/documentation changes since network lag is not practical to account for. These are unit tests, not integration, and it really really sucks at how long they take to run.

I'll start on this and separate any test that takes more than two seconds (Mocha default t

[2016-03-04 23:57] tbranyen commented on #611
I've got a potential working solution pushed up, but will need review and refactoring before merged. Solution is near!

[2016-03-07 02:04] WilldNY opened #940 "Error: Cannot find module '../build/Debug/nodegit.node'"
Hello, I installed docker-gitlab in the virtual machine, but when I'm in the project npm start when the following error:

`root@a-virtual-machine:/data/project/GitLab-Pages# npm start

GitLab-Pages@0.1.0 start /data/project/GitLab-Pages
node ./bin/www
module.js:327
throw err;
^

Error: Cannot find module '../build/Debug/nodegit.node'
at Function.Module._resolveFilename (module.js:325:15)
at Functi

[2016-03-07 05:16] tbranyen commented on #940
What version of Node, NPM, NodeGit?

[2016-03-07 05:25] WilldNY commented on #940
@tbranyen
node v4.3.2
npm v3.7.5

How to check nodegit version?  I use 'npm install nodegit' installation

[2016-03-07 09:25] rolatsch opened #941 "Error: 1 conflict prevents checkout - when merging clean working directory"
Hello,
i am trying to pull changes from a Repository. My working directory is clean but i am getting the error stated in the title.

My merge code looks like this:
[code]

I'm not sure if this is the right way to use the merge options.

Thanks in advance.

[2016-03-07 17:56] johnhaley81 commented on #911
So #942 will fix this for all versions of node < v5.6. Still have to look into fixing it for v5.6 and above. The error seems like it really is on BitBucket's side though which is awesome. The code in `http-parser` wasn't validating the content header length before at all so it went through and the content header length sent back by bitbucket *is indeed wrong* it's just blind luck that it's not bre

[2016-03-07 22:16] saper commented on #911
Anyone has a properly sniffed http request and the response?

[2016-03-07 22:18] saper commented on #940
@WilldNY you node seems to be compiled with debug options enabled. Does it work better if you switch to the node "Release" version?

[2016-03-07 22:26] johnhaley81 commented on #911
Related: https://github.com/nodejs/http-parser/issues/289

[2016-03-07 22:27] johnhaley81 commented on #911
@saper @cbargren was doing that.

[2016-03-07 22:41] cbargren commented on #911
Yeah, the response I was seeing looked like this:
[code]
The problem seems to be a combination of factors. Bitbucket shouldn't be sending those two headers together (Transer-Encoding: chunked and Content-Length) and http-parser shouldn't be erroring out when it does encounter that combination of errors.

[2016-03-08 05:29] WilldNY commented on #940
@saper  my nodejs version is v4.3.2   ,   need to change?

this is npm log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@3.8.0
3 info using node@v4.3.2
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle GitLab-Pages@0.1.0~prestart: GitLab-Pages@0.1.0
6 silly lifecycle GitLab-Pages@0.1.0~prestart:

[2016-03-08 09:48] morph027 commented on #834
See https://github.com/nodegit/nodegit/issues/834

Got it working with ```npm install nodegit@0.6.3```

[2016-03-08 14:45] johnhaley81 commented on #941
@rolatsch Try this:

[code]

You were doing a `FASTFORWARD_ONLY` which will supercede the merge option to automatically choose a file. It will stop any and all merges which is what I'm thinking it's doing. So something is on your local that you don't have in your remote.

[2016-03-08 19:46] saper commented on #940
This has nothing to do with node-sass. You can try starting `/usr/local/bin/node bin/www` manually or make sure your node is in your `PATH`.

[2016-03-08 19:54] saper commented on #911
Thanks, definitely looks chunked to me. But "be liberal in what you accept"... :/

[2016-03-10 09:28] rolatsch commented on #941
This still happens. It seems like when i run my code on a newly cloned repository it works once. But when i want to pull again it fails.
When i run `git status` in Git Bash i get the following output:
[code]
Do i have to do something else after merging to finalize the pulling process?

[2016-03-10 16:42] johnhaley81 commented on #928
Fixed in #929

[2016-03-10 16:42] #928 closed

[2016-03-10 17:14] johnhaley81 commented on #920
@bpeabody I can't get this code to hang for me. Does this still break for you?

[2016-03-10 20:50] johnhaley81 commented on #920
Here's exactly what I'm doing:

[code]

And no hang :(

[2016-03-10 22:04] bpeabody commented on #920
I think I hadn't actually flubbed the upgrade and it's no longer happening for me.

[2016-03-10 22:04] #920 closed

[2016-03-10 22:40] johnhaley81 commented on #920
:+1:

[2016-03-10 23:03] johnhaley81 commented on #920
OMFGGGGGGGGGGGG!!!

[2016-03-10 23:04] johnhaley81 commented on #920
Also I swear that the reaction button wasn't there when I typed that....

[2016-03-10 23:08] tbranyen commented on #920
lol I think the announcement and rollout happened as you typed it

[2016-03-12 20:13] jotadepicas commented on #752
:+1: I didn't know why my commits where all showing a date in the 70's..... know I know, thanks!

[2016-03-14 18:10] breser opened #947 "Included version of OpenSSL is vulnerable to security issues."
nodegit appears to be shipping with OpenSSL 1.0.2e:
`vendor/openssl/openssl/include/openssl/opensslv.h:#  define OPENSSL_VERSION_TEXT    "OpenSSL 1.0.2e 3 Dec 2015"`

1.0.2f and 1.0.2g have been released with fixes for the client side, 1.0.2f ones seem more important than 1.0.2g from a client perspective, (which is presumably all that's being used from nodegit):
http://openssl.org/news/secadv/2016

[2016-03-14 18:14] tbranyen commented on #947
Thanks @breser while we hate upgrading openssl, I'd imagine the security benefits here are worth the time.

[2016-03-14 18:22] jotadepicas opened #948 "Example / Question - Getting all modified lines, from all hunks in all patches from a diff"
Hi,
I'm using nodegit to develop the backend for a nodejs app that uses a mix of mongodb and git for persistence. The app has to version documents and be able to present diffs between versions, thus the use of git in the backend.

For one of the API endpoints, I needed to get the diff between two commits, so I've develop the express middleware `getDiffBetweenCommits` detailed below.

AFAIK, Nodegi

[2016-03-14 19:29] breser commented on #947
Moving between the patch releases e to g should be relatively painless.

[2016-03-14 19:45] tbranyen commented on #947
@breser you'd think so, but history says otherwise: https://github.com/nodegit/nodegit/commit/d0662a9895f8b229afabe20b7a18eef93a3e481e

[2016-03-15 18:28] Gum-Joe opened #950 "Error when installing: msbuild exits with 1 with no error messages, only warnings"
When I was installing nodegit on my computer through npm, I received the following error:
[code]
It says msbuild exited with `1`, however, the msbuild output shows that compilation was successful. No red error messages were shown.

System specs:

- OS: Windows 10 Home
- NodeJS: 5.8.0
- node-gyp: 3.0.3
- Visual Studio 2015

Thanks in advance.

**UPDATE:** I have ran a manual install. Turns out 22 e

[2016-03-15 18:45] Gum-Joe commented on #950
I think I just found out why: I should get a binary from S3, but my username has a space in it so it fails to be fetched.

[2016-03-15 18:55] Gum-Joe commented on #950
Just did a manual build of nodegit. Turns out 22 errors were hidden.
Here are the errors:
[code]

[2016-03-15 20:54] ryyann opened #953 "Annotated Tag: The requested type does not match the type in ODB"
I'm adding the following to our grunt build (coffeescript) to bring the current version into our templates:

[code]
The output from the task is:
[code]

I've tested this with both annotated and non-annotated tags, the same output. Here's some details on the tag:
[code]

[2016-03-15 21:53] tbranyen commented on #953
My guess is to use our reference APIs instead of the tag APIs. `repo.getReferenceCommit('tagname').then...`

[2016-03-16 10:34] otbe commented on #585
Updating OS/glibc is not possible (allowed) when using enterprise linux.
Maybe you could link glibc static or depend on an older version?

[2016-03-16 15:36] tbranyen commented on #585
We cannot depend on an older version since our core Node-interop dependency dictates what we're using today.

I investigated static linking, but was unable to get it working. If this is something that matters for enterprise Linux, do you think you'd be able to help us experiment with? We might be able to ship a static copy and link to it using `rpath` or `LD_LIBRARY_PATH` or w/e to try and resolve

[2016-03-16 16:05] johnhaley81 commented on #950
@Gum-Joe can you test building the latest on master please? That should fix your issue.

[2016-03-16 18:36] johnhaley81 commented on #948
So yes, this is the correct way to use NodeGit. We are a wrapper to libgit2 which is very low level C code and this is how you would get the data for a diff.

Now with that being said, this is super common and is a very good candidate for some helper methods that do the heavy lifting for you. Probably something in `Diff` would be good. That would go through and collect all of the patch/hunk/line d

[2016-03-16 18:55] Gum-Joe commented on #950
Ok

[2016-03-16 20:10] Gum-Joe commented on #950
@johnhaley81 #951 did not solve this issue - it was a temporary workaround. Please re open this issue.

[2016-03-16 20:32] Gum-Joe commented on #950
Thanks

[2016-03-16 20:33] Gum-Joe commented on #950
Will attempt rebuild later - currently updating development tools

[2016-03-17 00:51] joerx commented on #797
Seems this happens because on a fresh repo there's just no initial commit `refs/heads/master` could point to. Doing an initial commit takes me one step further, but now results in `[Error: No merge base found]` :disappointed:

[2016-03-17 01:23] kvnsmth commented on #797
@joerx that is the problem. I have code that fixes this scenario and will post here later

[2016-03-17 01:28] joerx commented on #797
+1 - stuck here

[2016-03-17 01:39] kvnsmth commented on #797
Here is code that works for me. Note that it is not the ideal implementation but it does demonstrate the things missing with an empty clone.

[code]

Example usage:

[code]

[2016-03-17 02:55] joerx commented on #797
@kvnsmth - works as advertised! :+1:

[2016-03-17 20:38] Gum-Joe commented on #950
Rebuild was not successful :disappointed:. Same errors.

[2016-03-19 20:56] Gum-Joe commented on #950
Any update on this issue ?

[2016-03-19 22:12] tbranyen commented on #950
@Gum-Joe I think the problem here is that you aren't getting our prebuilt. We haven't published for Node 5.8.0 yet. Can you try downgrading to our listed version in [.travis.yml](https://github.com/nodegit/nodegit/blob/552e82cd6ee94841d53bb418c5602602e05bd359/.travis.yml#L18) which looks like 5.0.

Once we publish a new version you'll get the prebuilt on Node 5.8

[2016-03-19 22:46] Gum-Joe commented on #950
@tbranyen I have download the latest master from this repo and used it to get the prebuilt for now

[2016-03-19 22:47] Gum-Joe commented on #950
I will close this issue after your node 5.9.0 (latest stable) has been released and can build on my system.

[2016-03-20 09:40] Gum-Joe commented on #950
I managed to get the prebuilt by fixing install.js in #951

[2016-03-21 17:02] kvnsmth commented on #797
@johnhaley81 do you think this is a libgit2 issue or something that nodegit should handle?

[2016-03-22 13:44] cjb opened #959 ""callback returned unsupported credentials type" with oauth on Linux"
I'm trying to use [surf-build](https://github.com/surf-build/surf), which logs into github via `x-oauth-basic`.  It works on OS X, but fails on Ubuntu 15.10 with:

`Fatal Error: callback returned unsupported credentials type`

This comes from `libgit2/src/transports/ssh.c`.  Is there a discrepancy in how node-git ships libgit2/libssh on Linux vs. OS X, maybe?

Surf issue: surf-build/surf#23

Thank

[2016-03-22 14:56] cjb commented on #959
Oh.  I'm calling`nodegit.Clone.clone(url='https://github.com/surf/surf-build', ..)`, and nodegit is trying to use the **ssh** transport?  That doesn't seem right!

[2016-03-22 16:48] cjb commented on #959
For posterity, this was totally my fault.  My `.gitconfig` contains:
[code]
for golang related reasons, and that causes an HTTPS url to end up asking for SSH authentication, confusing the code that expected to be authenticating HTTPS.  I'll close this out with a FAQ entry that explains it.

[2016-03-22 19:01] tosone opened #961 "Error on opensuse"
everything is ready look this:
[code]
but when i run test
[code]
node: 5.9
opensuse: 42.1
gcc: 4.8.5

[2016-03-23 13:12] rolatsch commented on #941
any updates on this? Here is my full pull code
´´´
NodeGit.Repository.open(repoDir)
            .catch(function (error) {
                console.error(error);
            })
            .then(function (repo) {
                console.log('fetching changes');
                process.send({
                    "repository": dbRepo.identifier,
                    "status": "running",

[2016-03-23 22:03] tylerchurch opened #963 "Bug (or documentation error) in the arguments to Diff.blobToBuffer"
If you look at the argument list here for `Diff.blobToBuffer`: http://www.nodegit.org/api/diff/

And then compare that to the argument list that's actually exposed in the code; https://github.com/nodegit/nodegit/blob/83f6affb4f1305826336fd34b3126d8b35debb2a/lib/diff.js#L61

They're different, with the actual API lacking the arguments `buffer_len` (and actually computing this value itself) and `pay

[2016-03-24 02:28] tylerchurch opened #965 "Diff.blobToBuffer crashes the node process if given a file that contains null characters"
I was using nodegit to grab some diffs out of a repo, and when it hit a Visio file that was in there it would crash and die.

The Visio file was big enough and contained null characters in the right places such that it exposed a bug in nodegit that was causing libgit2 to throw a memory access violation error.

Here's some code that creates a new repo, writes out a file, tries to do a diff, and rep

[2016-03-24 04:40] johnhaley81 commented on #963
So the documentation in this case is wrong. This can be fixed by doing the same that we do [here](https://github.com/nodegit/nodegit/blob/master/lib/blob.js#L7-L14) and just override the generated docs. After that's done we can close this out.

[2016-03-24 04:41] #959 closed

[2016-03-24 04:42] johnhaley81 commented on #950
@Gum-Joe going to see about doing a release later this week. I want the memory leak stuff to land first and get a bit of testing in before we say it's good.

[2016-03-24 04:45] johnhaley81 commented on #941
@rolatsch What's `dbRepo.branch`?

[2016-03-24 06:47] Gum-Joe commented on #950
Thanks @johnhaley81

[2016-03-24 09:22] rolatsch commented on #941
@johnhaley81 `dbRepo` is an object which holds the information about my repository.
The branch property is just the branch name. For example master or development.

[2016-03-24 16:04] #963 closed

[2016-03-24 16:05] johnhaley81 commented on #965
@tylerchurch could you confirm that this is indeed fixed now that #966 is in and then close this out please?

[2016-03-24 16:18] tylerchurch commented on #965
Yep, just pulled down the latest code and built a fresh version of nodegit, and this is no longer crashing.
Closing this issue...

[2016-03-24 16:18] #965 closed

[2016-03-25 13:06] martinheidegger opened #969 "Nodegit doesnt work on LinuxMint (Ubuntu, I guess)"
Getting this error when **running** nodegit on LinuxMint (equal to Ubuntu i guess)

[code]

[2016-03-25 14:43] tbranyen commented on #969
Please read the README this is discussed under installing.

[2016-03-25 14:43] #969 closed

[2016-03-25 15:43] jzahka commented on #721
+1

[2016-03-25 16:04] johnhaley81 commented on #721
Please do not +1 issues. GitHub now let's you +1 a comment.

![image](https://cloud.githubusercontent.com/assets/867780/14047988/98bfa452-f268-11e5-810c-c94a04396669.png)

[2016-03-26 02:58] dancrumb commented on #497
You're probably better off open up a new issue with your failing choice

[2016-03-26 07:31] tbranyen commented on #497
Also, @kevindashgit you offered no additional information necessary for us to assist you. Can you provide OS, Node version, NodeGit version, prebuilt or built from source, and the script that is failing?

No need to open a new issue, but if you want more rapid help, drop into our [Gitter](http://gitter.im/nodegit/nodegit)

[2016-03-28 16:05] martinheidegger commented on #969
Thank you for explaining, opened a pull request so future users have less problems.

[2016-03-28 16:32] johnvogen opened #973 "Problems with push"
Hello,
I am trying to implement the code snippet found in examples/push.js
I have inserted the code pretty much verbatim - only changing the source location for nodegit, the value of repodir and the url specified for the remote to coincide with my own github repository.
Running the app, the repository is created and newfile.txt is commited however I then get the following error:

TypeError: nodegi

[2016-03-28 16:50] SEAPUNK opened #974 "32-bit support?"
From atom issue atom/atom#10819 (https://github.com/atom/atom/issues/10819#issuecomment-200963545), a lot of 32-bit Linux users have been having troubles installing nodegit. From my research, it seemed to be a two-part problem of there not being a 32-bit prebuilt binary of nodegit

`Error: 403 status code downloading tarball https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.11.9-node-v47

[2016-03-28 16:58] tbranyen commented on #974
Its probably because our Travis setup publishes 64bit builds and not 32bit. This was a big concern of mine with going full automated. We'll need to set up a secondary target that hits x86 32bit.

[2016-03-28 17:00] johnhaley81 commented on #974
https://github.com/travis-ci/travis-ci/issues/986#issuecomment-124141683 :(

[2016-03-28 17:02] SEAPUNK commented on #974
Oh, that sucks. Is there a way to publish a 32-bit binary manually as a temporary workaround, then?

[2016-03-28 17:02] tbranyen commented on #974
@johnhaley81 is anything preventing us from cross compiling with this? http://stackoverflow.com/a/22469265

[2016-03-28 17:41] johnhaley81 commented on #974
@tbranyen nice find! That might be a way forward.. When running a build with `TRAVIS_TAG` we could do 2 compiles and publishes.

[2016-03-28 21:02] kevindashgit commented on #497
More info:

[2016-03-28 22:27] kevindashgit commented on #497
More Info:

OS: OSX El Capitan v10.11.1
Node Version: 1.2.0.10
NodeGit Version: ^0.11.9 (prebuilt)
Script:
[code]

[2016-03-28 23:02] tbranyen commented on #497
Thanks so much for updating us with some more information, I'm probably not the best one to diagnose, but I'll try and reproduce locally to at least verify.

Ping @johnhaley81 who can assist, or know who best to assist.

[2016-03-29 00:15] johnhaley81 commented on #497
@kevindashgit you're giving back wrong credentials and NodeGit will ask you for creds until you either pass back one that works or pass back `NodeGit.Cred.defaultNew()`

[2016-03-29 11:30] Gum-Joe commented on #950
Just installed the new release. Closing for now.

[2016-03-29 11:30] #950 closed

[2016-03-29 16:28] bpeabody commented on #940
I'm having a similar problem, also on a VM problem. I'm pretty sure I'm using a release version of node. My output looks like:

[nodegit] Fetching binary from S3.
[nodegit] Failed to install prebuilt binary:
{ [Error: Command failed: /bin/sh -c "/home/bpeabody/trash/nodegit/node_modules/.bin/node-pre-gyp" install --fallback-to-build=false
node-pre-gyp ERR! install error
node-pre-gyp ERR! stack Err

[2016-03-29 18:01] bpeabody commented on #940
I think my problem might be a messed up proxy.

[2016-03-29 20:16] 50Wliu opened #976 "postinstall does not work on Windows"
The postinstall script is currently executing (as of #972) `bash postinstall.sh`.  For obvious reasons, this won't work when attempting to install nodegit through `cmd.exe`.  [This commit](https://github.com/nodegit/nodegit/pull/972/commits/601cacb67a19a49d5266b3122684e7d62ae6d94b) in particular seems pretty ironic :frowning:.

Here's an installation log (while trying to build Atom, but that *shou

[2016-03-30 01:17] johnhaley81 commented on #976
@50Wliu does #978 solve your issue?

[2016-03-30 01:42] 50Wliu commented on #976
@johnhaley81 At a glance it looks like it should, as `bash` is no longer invoked.

[2016-03-30 10:08] ankitgo commented on #976
Running into same issue. Any timeline for the fix?

[2016-03-30 17:28] johnhaley81 commented on #976
Just published 0.12.1 which fixes this.

[2016-03-30 17:28] #976 closed

[2016-03-30 17:31] kodekrash opened #979 "403 error when trying to install nodegit via npm"
when running `npm install nodegit`
[code]

[2016-03-30 17:32] tbranyen commented on #979
@johnhaley81 is this a publish error or are they still publishing?

[2016-03-30 17:46] saper commented on #940
@bpeabody your problem is something completely different, your proxy acts as a man-in-the-middle for your SSL connection.

[2016-03-30 17:48] johnhaley81 commented on #979
Node v11 isn't in our support matrix.

[2016-03-30 17:49] johnhaley81 commented on #979
Earliest we publish is v14

[2016-03-30 19:27] tbranyen commented on #979
So upgrading Node is the solution here?

[2016-03-30 19:28] bpeabody commented on #940
Yeah, I had several problems. I was finally able to get it working, but I might consider submitting a patch for a couple of items:

1. We need to used patched versions of `node-gyp` and `node-pre-gyp` to provide kerberos support. We're getting them through a local sinopia mirror and have patches for `node-gyp` at least pending upstream, but `nodegit` is currently pinned to an older minor version;

[2016-03-30 19:45] johnhaley81 commented on #979
Yep. `node-pre-gyp info | grep 0.12.1` confirms that all binaries that we expect to publish are published.

[2016-03-30 19:55] tbranyen commented on #979
Okay cool, closing this as non-issue.

[2016-03-30 19:55] #979 closed

[2016-03-30 20:16] kodekrash commented on #979
Followup for information --

I am currently using nodejs 0.10.42 (rpm) which is shipped with Fedora 23 updates. Disturbing, now that I look at that, since node is up to 4.x / 5.x ...

Located 5.x RPMs via nodesource.com. Will try again with correct version of node/npm.

[2016-04-01 15:08] SEAPUNK commented on #974
Bump; is there any progress on this? Is there any way I can help?

[2016-04-01 18:07] johnhaley81 commented on #974
@SEAPUNK could you start looking into what tbranyen said in https://github.com/nodegit/nodegit/issues/974#issuecomment-202486125? That would be a great starting point I think. Add that to the CI matrix on Travis.

[2016-04-01 18:09] SEAPUNK commented on #974
Alright, I'll do some research.

[2016-04-01 18:15] SEAPUNK commented on #974
Question: Are there any needed environment variables for Travis for the builds? Are there any pieces from the build script that I can remove (e.g. publishing to S3)?

[2016-04-01 18:19] johnhaley81 commented on #974
When we push a tag travis will (pick that up)[https://github.com/nodegit/nodegit/blob/master/.travis.yml#L84] and do a publish to S3 with the resulting binary. If you don't push a tag you won't publish so I wouldn't worry about that.

Apart from that though, the (matrix)[https://github.com/nodegit/nodegit/blob/master/.travis.yml#L16-L18] is defined here and will declare environment variables that

[2016-04-01 18:53] SEAPUNK commented on #974
I've added an extra handler for an additional environment variable, `TARGET_ARCH`, and after installing the 32-bit compiler files (`lib32-gcc-libs` on Arch Linux), it seems to be compiling. I'll be sure to inspect the built `.node` file to see if it's truly built for 32-bit machines.

On a side note, I know that I had to do `--arch=ia32` on `node-gyp`, but don't you have to do the same for `node-p

[2016-04-01 18:58] SEAPUNK commented on #974
Compilation broke. :(

[code]

[2016-04-01 19:28] SEAPUNK commented on #974
**NEVER MIND**, I made it compile. I just had the wrong compilation packages installed.

[2016-04-01 19:42] SEAPUNK commented on #974
Alright, running Travis build. Let's hope nothing explodes.

https://github.com/SEAPUNK/nodegit/commit/bf01893a89673908a64bb7de1cf6257f50303de5
https://travis-ci.org/SEAPUNK/nodegit

[2016-04-01 20:20] SEAPUNK commented on #974
Alright, I was able to create a successful build for 32-bit systems. The problem now is when it actually tests the binary -- it can't load `nodegit.node` because it's built for 32-bit systems, but the system itself is 64-bit.

What do I do?

[2016-04-01 20:43] SEAPUNK commented on #974
Alright, I think I got it. PR: #980

[2016-04-02 00:35] damolina-ms commented on #641
Use of Branch.name from nodegit 0.12.1 still faults the same way.
Any workarounds?

[2016-04-04 08:06] #974 closed

[2016-04-06 06:30] agoransson opened #982 "Assertion failed on https clone."
I get this:

[code]

When I do this:

[code]

Am I doing something wrong?

[2016-04-06 21:02] johnhaley81 commented on #961
@tosone did you compile nodegit or did it download a prebuilt binary? I haven't seen this error before and I'm not quite sure what's causing it.

[2016-04-07 02:07] tosone commented on #961
sure i compile it and success. no matter which linux in virtual box i use, will occur that error. but without virtual box, everything will be OK. probably this `undefined symbol: gcry_control` is occured by virtual box.

[2016-04-07 18:33] normanzb opened #985 "Fetch() hangs when it is used against ssh protocol with sshKeyFromAgent()"
It works if the repo's `origin` remote is setup to use https but it hangs if the remote is setup to use github ssh such as `git@github.com:nodegit/nodegit.git`

It calls `credentials` callback endlessly without proceeding ahead.

[code]

[2016-04-07 20:27] jabrena opened #988 "Stream a repository"
Hi, I would like to know if it is possible to stream a repository.
One scenario to use could be to deploy an app to a PaaS.

Is it possible to do with this module?
Any alternative

Many thanks in advance.

Juan Antonio

[2016-04-08 19:47] johnhaley81 commented on #988
Hi @jabrena. So from your linked issue it looks like you want to maybe .tar.gz a repo and then stream it's upload to a server? Couldn't you just have a git server on that and then add it as a remote and push the repo to that new remote?

[2016-04-08 19:56] johnhaley81 commented on #973
Hey @johnvogen sorry for the delay. So `Remote.create` _should_ be async and that I'll change. In the meantime you could just pass back the result in the promise and that will also work the same when the method is async in the future.

Ex:

[code]

The above with work for both async and sync `Remote.create`.

[2016-04-08 20:00] johnhaley81 commented on #982
Your code looks good. This seems like it couldn't create the credential object in the C layer. You're using HTTP as well. A few questions...

Does that redirect to HTTPS at all?
What platform are you running on?
Are you using a proxy?

Thanks!

[2016-04-08 20:22] jabrena commented on #988
Hi, the idea could be for a Script to deploy in an automatic way. Is it possible to stream a typical process git clone http://myRepo.git?

[2016-04-08 21:37] johnhaley81 commented on #973
#990 will make `Remote.create` async

[2016-04-08 21:40] johnhaley81 commented on #985
So libgit2 will call the `credentials` callback until it either returns `defaultNew` or returns a credential that works. It's probably not able to connect to the agent, the agent doesn't have the correct key or something like that. Try manually sending back the key with `sshKeyNew`.

[2016-04-08 23:12] johnhaley81 commented on #941
@rolatsch #971 might fix this issue. Could you try that out when you get a moment please?

[2016-04-08 23:26] johnhaley81 commented on #641
@damolina-ms @ElliotChong can you guys post a code snippet of what you're doing?

Here's what I'm doing that doesn't segfault:

[code]

Now doing this I'll get a segfault
[code]

[2016-04-09 00:25] johnhaley81 commented on #641
#991 should fix this issue.

[2016-04-09 00:47] johnhaley81 commented on #641
#991 is merged now. If this is still coming up I can reopen this issue.

[2016-04-09 00:47] #641 closed

[2016-04-09 16:20] ElliotChong commented on #641
Phenomenal, thanks @johnhaley81!

[2016-04-10 07:16] codeimpossible opened #992 "getBranchCommit fails with Error: Reference 'refs/remotes/<branch>/HEAD' not found"
Been trying to get branch switching working but I'm not having any luck. I found #523 and i _think_ i'm using the right api calls, but every time I try this code with a non-master branch, it fails with the error mentioned in the title.

Not sure if it matters, but the repo I've been testing with is http://github.com/codeimpossible/Artigo. I've been trying to switch from `master`, to the `gh-pages`

[2016-04-10 12:07] agoransson commented on #982
During development I'm on a mac, but it will be deployed to an ubuntu container later.
I've tried with HTTPS now as well - I still get the same error.
I'm not using a proxy.

[2016-04-10 17:21] damolina-ms commented on #641
@johnhaley81, I'm getting the segfault in code similar to your second snippet:

[code]

Thanks for the fix!

[2016-04-11 15:24] johnhaley81 commented on #797
@carlosmn @ethomson is this something we're doing wrong in NodeGit? From the code above it looks like things are called correctly. Is this an issue in libgit2?

[2016-04-11 15:34] ethomson commented on #797
I'm a little confused; there shouldn't need to be a `refs/remotes/master/HEAD`.

In the original post, it looks like there's a remote `origin` with a branch `master`.  So I _would_ expect there to be a `refs/remotes/origin/HEAD`.  It looks like something is conflating the name of the branch (`master`) with the name of the remote (`origin`).

I'm not really much of a JS / nodegit wizard.  But I wou

[2016-04-11 15:34] carlosmn commented on #797
You end up calling `git_reference_dwim()` to figure out what `master` and `origin/master` are. This looks for a bunch of different variations of what `master` might mean. If you do not have a branch named `master` it will keep looking for a tag or a remote with this name. The lat one is the remote, which is why `refs/remotes/master/HEAD` is the error that's set when the function returns.

[2016-04-11 15:45] johnhaley81 commented on #797
So when doing a `mergeBranches` we'll lookup the passed in strings for their corresponding references [here](https://github.com/nodegit/nodegit/blob/master/lib/repository.js#L794-L795).

Like @carlosmn said this eventually hits `git_reference_dwim` [here](https://github.com/nodegit/nodegit/blob/master/lib/repository.js#L167-L189). So we're doing a dwim lookup on `origin/master` which apparently do

[2016-04-11 15:49] johnhaley81 commented on #797
https://github.com/libgit2/libgit2/pull/3736 would definitely help, but it does seem like the reference to the remote branch should exist. Am I mistaken?

[2016-04-11 15:57] carlosmn commented on #797
It's not about `origin/master` but `master`. The last rule for dwim'ing a reference shorthand is to look to see if a remote with that name has a default branch (a symref under refs/remotes/<name>/HEAD); we would eventually look for `refs/remotes/origin/master/HEAD` if we couldn't find anything else for `origin/master`.

It looks like the repository does not have a `master` branch, so this is expec

[2016-04-11 15:59] johnhaley81 commented on #992
Possibly related to #797. What is the actual branch you're trying to check out? `origin/gh-pages`?

[2016-04-11 16:03] johnhaley81 commented on #797
Oh, yeah we should definitely _not_ create it if we can't find it. That was the just workaround listed at https://github.com/nodegit/nodegit/issues/797#issuecomment-197641891. The strange thing is that it seems like this remote branch *should* exist but the fetch for some reason isn't creating it under `refs/remotes`. Unless I'm misinterpreting the above comments. However, in #992 it does seem lik

[2016-04-11 17:32] carlosmn commented on #953
Tag lookup behaves just like every other object lookup: it loads precisely the object you ask it to. If you give it the id of a commit, then the types will not match and it cannot return a tag object. You can get from tags to other objects, but the library won't search around in the repository.

See also [this StackOverflow answer](http://stackoverflow.com/questions/36528576/get-annotated-tags-fro

[2016-04-11 22:12] kvnsmth commented on #797
@carlosmn the following triggered something in my head about our use case

For us, we've seen this issue when trying to pull when the local master branch has no commits but the remote had a commit added. I understand why our code was failing now with your statement about what `git merge` does and the fact that this error is a bit of red herring. I just updated our code to create the local branch w

[2016-04-12 20:04] adius opened #993 "Assertion failed: (repo), function git_repository_workdir"
When I try to clone the repo `zzflux/ProjectEuler` with `Clone.clone()` I get following error
[code]

[2016-04-12 20:21] johnhaley81 commented on #993
@adius could we see what your code looks like please?

[2016-04-12 20:28] adius commented on #993
The issues was that caused by a 'repo.free()' call.
I'm not entirely sure if I correctly understand what it's good for ^^

[2016-04-12 21:31] johnhaley81 commented on #993
@adius a `repo.free()` will destroy the underlying libgit2 C-struct `git_repository` object. If you call that the JS object is effectively useless at that point and shouldn't be passed around anymore.

[2016-04-12 21:37] adius commented on #993
Ok, then I guessed correctly =P
…and I just realized the problem was that although I called at it at the end,
it was possible that some async code was still using it and therefore it crashed.
Thanks for your help!

[2016-04-12 21:37] #993 closed

[2016-04-12 23:00] codeimpossible commented on #992
in the code above I used `'gh-pages'` instead of `'non-master-branch'`. Should i have used `'origin/gh-pages'` instead?

[2016-04-12 23:28] johnhaley81 commented on #992
Yeah, that should work.

[2016-04-13 03:28] codeimpossible commented on #992
@johnhaley81 you are awesome. That worked!

[2016-04-13 03:28] #992 closed

[2016-04-13 17:19] adius opened #994 "repo push: UserName is not populated and Cred.userpassPlaintextNew fails silently and"
When using `remote.push()` the username variable is undefined.
Furthermore  `Cred.userpassPlaintextNew()` freezes when the username is undefined
and nothing happens:

[code]

[2016-04-13 22:01] tbranyen commented on #994
Does your URL contain a username already? Typically with services like GitHub, you'll clone with:

[code]

The `git` before the `@` is the username that would populate that variable. Now if that username is omited like:

[code]

Then you'd have to specify the username yourself. With the code you've posted, there's not enough to assist you further. Can you specify the remote's URL you're trying to

[2016-04-13 22:29] adius commented on #994
Ok, I think that was the problem. Thanks for clarifying!
…but Cred still should do something when userName is undefined, shouldn't it?

[2016-04-13 22:36] tbranyen commented on #994
The promise should reject, so you **should** be able to do something like:

[code]

[2016-04-13 23:07] adius commented on #994
But it never rejected ... it just froze

[2016-04-14 15:01] normanzb commented on #985
@johnhaley81 thx it works

[2016-04-14 15:01] #985 closed

[2016-04-16 06:46] roshimon commented on #974
Upgrading to atom 1.8.0-beta1 has fixed the issue for me. Working flawlessly now :)

[2016-04-16 15:32] azotova opened #996 "promisify(fse.ensureDir) in examples doesn't work as expected in case of nested directories"
I've tried following the `add-and-commit` example and noticed that I get an ENOENT error when `fse.ensureDir` has to create nested directories. Using it without the promise (and putting the rest of the code in the callback of `fse.ensureDir`) solved the issue.

[2016-04-16 19:00] tbranyen commented on #996
Can you elaborate on how you got the example to break? I just ran the code on my Arch Linux machine with the master branch snapshot and it worked fine. There is a nested path in the example so that should confirm the behavior you're describing, but I'm not seeing it.

Maybe it's OS related? More details please :ok_hand:

[2016-04-16 19:50] azotova commented on #996
Yes, I ran it on OS. The important thing is that in my example `ensureDir` had to create both the parent and the child directory. I save files with a path that looks something like this `/fullpath/drafts/folder1/folder2/file1.pug`. I followed the `add-and-commit` example pretty closely. The line from the example `return fse.ensureDir(path.join(repo.workdir(), directoryName));` in my case looked li

[2016-04-17 15:01] azotova commented on #996
I tested it on Mac and it worked fine. So I experience this issue only in the Docker container. The image in the Docker container is based on Debian GNU/Linux 8 (jessie). Sorry for not testing properly before reporting.

[2016-04-17 17:31] saper commented on #996
Some read-only filesystem somewhere?

[2016-04-18 21:56] garlicnation commented on #585
@tbranyen I'd love to experiment w/ this as I'm in the same boat

[2016-04-18 22:45] girishkvs opened #999 "Create a pull request after pushing to remote"
Hello,

Is there any way I can create a PR using nodegit similar to git request-pull ?

Thanks,
Girish

[2016-04-18 22:51] tbranyen commented on #999
https://libgit2.github.com/libgit2/#HEAD is all we can support, and it doesn't look like request-pull exists yet. Might want to bug the libgit2 folks and see what the roadmap is.

Closing as it's not something actionable.

[2016-04-18 22:51] #999 closed

[2016-04-19 05:32] AndrewJo commented on #831
@johnhaley81: I don't know if I'm doing something wrong but `repo.createCommit` doesn't seem to create a valid commit OID without a parent.

On `v0.12.2` at least, this is what I get:

[code]

The output of the oid looks something like this:
[code]

And attempting to create a branch with this OID results in this error:

[code]

[2016-04-21 07:49] qmacpit opened #1001 "no refreshIndex method in Repository object"
nodegit@0.12.2
consider following code(it's almost 1:1 taken from example
https://github.com/nodegit/nodegit/blob/master/examples/create-new-repo.js):
Git.Repository.init(repoPath, 0)
      .then((repo) => {
       //repo.refreshIndex() throw no such function error
       repo.openIndex() //this works though
      });

[2016-04-21 18:52] Kerrick commented on #489
Looks like libgit2 merged in support for proxies! libgit2/libgit2#3110

[2016-04-21 19:46] johnhaley81 commented on #489
Working on merging that now :)

[2016-04-21 19:55] hegdeashwin commented on #940
I am getting the same error "Error: Cannot find module '../build/Debug/nodegit.node'"

I am using node.js via nvm
Node.js version 4.2.3
npm version 2.14.7

Well, I got the below message on my Ubuntu bash terminal:
[nodegit] Fetching binary from S3.
[nodegit] Completed installation successfully.

But when i am trying use the Repository.init API nothing happens!

[2016-04-23 00:32] smith-kyle opened #1002 "Diff.merge: inconsistent behavior"
I have two diffs, one from `commit.getDiffWithOptions` and one from `NodeGit.Diff.treeToWorkdirWithIndex` where the tree is from the head commit. They were made with the same options. When merging the two diffs, depending on which diff is merged into which, either the diffs will merge or this error will be thrown:

Here's some kind of pseudo code
[code]

[2016-04-25 02:45] yunwuxin opened #1003 "Patch.fromBlobs"
Patch.fromBlobs

 it does not work properly.

[2016-04-25 19:06] smith-kyle commented on #1002
When doing a diff with `git_diff_tree_to_workdir_with_index ` (which is a diff merge of `git_diff_tree_to_index` and `git_diff_index_to_workdir`) the `opts.flags` respect whatever the repo's `ignorecase` setting is. So if ignorecase is set to true for the repo, the returned diff will ignore the case.

When doing a tree to tree comparison, `ignorecase` is set to false by default regardless of the r

[2016-04-25 19:07] smith-kyle commented on #1002
I don't understand why libgit2 doesn't default to the same ignore options when calling `git_diff_tree_to_workdir_with_index` and `git_diff_index_to_workdir`

[2016-04-26 12:06] rolatsch commented on #941
@johnhaley81 sorry it took me a while to give this a try.
With the latest revision of nodegit an no changes to my code this issue still persists.

Is it worth trying to clone the repository with nodegit instead of pulling a repository which was cloned via the git command line?

[2016-04-26 14:10] cbargren commented on #911
After hearing back from https://github.com/nodejs/http-parser/issues/289, it seems that the invalid response sent by Bitbucket is no longer to be ignored, but simply rejected outright. The ball's back in Bitbucket's court. I'll dig up the forum post I made for this and see if there's been any response.

[2016-04-26 14:40] johnhaley81 commented on #911
@cbargren can you link that in this issue when you find it please?

[2016-04-26 22:03] alvin commented on #911
FWIW, I submitted a ticket to Atlassian and received:

Jesse Yowell [Atlassian] 26/Apr/16 9:22 PM

Alvin,
This is somewhat of a double-edged sword at the moment, so we're confirming with another team. The reason we're using this content-length header response is for integration with our Bamboo Cloud product. I've heard it's fairly easy to ditch the extra header, but we want to be sure it won't bre

[2016-04-26 22:16] johnhaley81 commented on #911
![shocked](https://cloud.githubusercontent.com/assets/867780/14835988/e006c7ce-0bc1-11e6-98da-7aa4aa4b3025.gif)

[2016-04-26 22:36] cbargren commented on #911
@johnhaley81 It was only a ticket on their support portal. It's here, but I'm not sure if you'll be able to access it. https://support.atlassian.com/servicedesk/customer/portal/11/BBS-29080

[2016-04-27 19:32] devrelm opened #1012 "Pointer being freed was not allocated [Git.Branch.name(ref)]"
I'm getting an issue when calling `git.Branch.name(ref)`.

Running OS X 10.11.4, git version 2.8.1 (not sure if necessary.)
EDIT: Also, running node v0.12.13

gist: https://gist.github.com/devrelm/873f2109d8db6ecc39cd8b9a41645bce

[code]

## To Reproduce:

1. `git clone git@gist.github.com:873f2109d8db6ecc39cd8b9a41645bce.git`
2. `cd 873f2109d8db6ecc39cd8b9a41645bce`
3. `npm install nodegit`
4. `n

[2016-04-27 19:47] johnhaley81 commented on #1012
Dat repro case. <3 I'll check this out soon.

[2016-04-29 18:51] tommoor commented on #982
We're also seeing this issue on a regular basis:

[code]

Running nodegit within Electron on a Mac
Connecting to a git proxy running within an ubuntu docker image
Let me know what I can provide to help get to the bottom of this

[2016-04-30 01:02] matthauck opened #1018 "Support gpg commit signing"
nodegit does not appear to have support yet for gpg commit signing. Perhaps I have missed it in the documentation, but there does not appear to be support for this quite yet. Do you have plans to support it some time soon? If not, would you be willing to specify the API you would like to see so others could contribute?

Thanks.

[2016-04-30 04:07] matthauck commented on #1018
Started taking a look at libgit2, and it looks like they have only [recently](https://github.com/libgit2/libgit2/commit/02d61a3) added support for this...

[2016-04-30 04:11] johnhaley81 commented on #1018
Looks like libgit2 is starting to work in support for commit signing. https://github.com/libgit2/libgit2/pull/3673

It looks like [that function](https://libgit2.github.com/libgit2/#HEAD/group/commit/git_commit_create_with_signature) is enabled in `master` right now so feel free to poke around and see how it works.

We could probably write a helper method in `lib/commit.js` to make the API a littl

[2016-04-30 05:03] matthauck commented on #1018
I had found the commit, but didn't notice that PR with the discussion, which was helpful, thanks. I hope they may reconsider their API to be a bit easier to use...

How frequently does nodegit take in new versions of libgit2?

[2016-04-30 05:05] matthauck commented on #1018
Second question: would nodegit also be averse to having the ability to support *gpg* signing? Or would you be inclined to stick closer with being javascript bindings for libgit2 and just expose the same API they do?

[2016-04-30 05:14] johnhaley81 commented on #1018
HIstorically we've been slow to update libgit2 but hopefully with #1017 it'll make it a bit easier to handle that.

Normally what we do in this situation is to do both. We automatically generate the wrappers for the public libgit2 functions and if we need to provide a better API or some other convenience function we'll throw that into `lib/<whatever>.js`.

For more complicated things that are out

[2016-05-03 08:02] RudolfVonKrugstein opened #1020 "Cloning only the tip of the Branch"
Is it possible to Clone only the newest commit with nodegit? On the cli indo.that with:

[code]

[2016-05-03 16:05] tbranyen commented on #1020
Nope, that's a shallow clone and it's not yet supported. You can follow along with libgit2's issue on it here: https://github.com/libgit2/libgit2/issues/2782

[2016-05-03 16:05] #1020 closed

[2016-05-03 22:12] johnhaley81 commented on #874
Implemented in #1016

[2016-05-03 22:12] #874 closed

[2016-05-04 21:34] alvin commented on #911
So I poked the bear again, and they've kicked off a public issue for broader tracking.

Jesse Yowell [Atlassian]04/May/16 9:08 PM
Alvin,

Getting an update seems to be a difficult task, as we're getting a loop between two teams, with no actual answer. I've created a public issue so more people can follow along with this: https://bitbucket.org/site/master/issues/12673/remove-the-content-length-head

[2016-05-05 12:58] Grac90 opened #1024 "Afetr my push operation, the file isn't pushed to remote repo"
Hi, i develop a push function following the basic example [https://github.com/nodegit/nodegit/blob/master/examples/push.js](url). I just open my local repo (cloned before the push) and push one single file (for the moment). Well, the code works, i mean the function is executed and  prints on the console 'Success', but the file isn't pushed on the remote repository. I tried to change my code a lot

[2016-05-05 23:22] jdgarcia opened #1025 "Functions that return an EventEmitter should instead return a Promise"
The only two functions that do this are `Commit.history` and `Tree.walk`.

All other async functions in nodegit return promises.

Current:
[code]

Proposed change:
[code]

[2016-05-06 08:23] imor commented on #828
In my electron app, I was getting the same error on windows 10 and visual studio 2015, until I built against the electron headers. Just to document for others' (am my own future self) benefit, these were the steps that worked for me:

1. git clone https://github.com/nodegit/nodegit.git nodegit
2. cd nodegit
3. From advanced system settings, set the HOME environment variable to C:\Users\<YourUserna

[2016-05-10 07:23] alvin commented on #911
Jesse at bitbucket got back to me -- It's fixed now... at least for my use-case.

[2016-05-11 06:41] vjpr opened #1027 "Error has no code"
There does not seem to be an error code for when a remote upstream does not exist. Not sure if error codes are used elsewhere...

When running:

[code]

I get:

[code]

...with no error code.

[2016-05-11 07:11] benmarten opened #1028 "Heroku Build fails"
2016-05-11T07:10:07.084938+00:00 app[web.1]: Express server listening on 53045, in production mode
	2016-05-11T07:10:07.143555+00:00 app[web.1]: /app/node_modules/nodegit/dist/nodegit.js:15
	2016-05-11T07:10:07.143575+00:00 app[web.1]:     throw ex;
	2016-05-11T07:10:07.143579+00:00 app[web.1]:     ^
	2016-05-11T07:10:07.143580+00:00 app[web.1]:
	2016-05-11T07:10:07.143587+00:00 app[web.1]: Error:

[2016-05-11 07:37] zhangyihua opened #1029 "Failed to install prebuilt binary"
I'm get this error on:
  windows 7
  node v4.3.2

And aslo on:
  ubuntu 14.04.1
  gcc version 4.8.4
  node v4.4.3

-----

[code]

I don't know what lead to that. Someone can thell me the why?

[2016-05-11 15:28] tbranyen commented on #1028
The reason for this is documented in the README under Getting Started, outdated libstdc++ dependency. I'm not sure without Googling around how to resolve in Heroku.

[2016-05-11 21:20] tommoor commented on #982
Just following up with chat in gitter, in our case this crash was caused by passing undefined as username and password into `Git.Cred.userpassPlaintextNew`. Hope this helps track it down!

[2016-05-11 21:27] benmarten commented on #1028
I tried your solution on a brand new Ubuntu 14.04LTS, same error!

[2016-05-11 21:33] tbranyen commented on #1028
What did you try? Did you try this on Heroku or locally? How did you confirm the fix didn't work?

[2016-05-11 21:35] tbranyen commented on #1029
Pretty sure you need GCC 4.9 if you want to compile from source. You should have gotten the prebuilt binary though... Here's our build matrix: https://github.com/nodegit/nodegit/blob/master/.travis.yml#L16-L19

Maybe try 4.1 or 6? See if that helps.

[2016-05-11 21:35] benmarten commented on #1028
I setup a new Ubuntu 14.04LTS instance on Google Cloud, then installed dokku, then pushed my app to it, when the app launches it fails with the error:

         Error: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /app/node_modules/nodegit/build/Release/nodegit.node)

  =====> end status web container output

for some reason the library is present on my

[2016-05-11 21:38] johnhaley81 commented on #1029
FWIW I just did it with node v 4.4.3

[2016-05-11 21:40] tbranyen commented on #1028
I didn't see the README suggestion in your comment:

[code]

Even if you see it on your box, did you run the above commands so we can eliminate that being the issue?

[2016-05-11 21:40] benmarten commented on #1028
yes i did run this!

[2016-05-11 22:01] tbranyen commented on #1028
Probably. I don't know how Google Cloud handles installing Ubuntu, and I didn't see that command in your comment (or even referenced), but I know 14.04 doesn't ship with it.

That's very strange, I'm not entirely sure why it's happening. I'll need to spin up a VM later and confirm. Maybe @johnhaley81 can beat me to that.

[2016-05-11 22:13] benmarten commented on #1028
Thanks for your help, so far...

It might be related to dokku/docker, as it seems the incorrect lib version is included in the docker image?

	ben@box1 ~> sudo find / -name 'libstdc++.so.6.*'
	/usr/share/gdb/auto-load/usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21-gdb.py
	/usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21
	/var/lib/docker/aufs/mnt/3d8a87af0a330227065dafd57a7eaacad0d99f9d6c5a3b2d9c082c47e

[2016-05-11 22:15] tbranyen commented on #1028
Yeah, to be honest I don't know if anyone has successfully installed NodeGit within Docker. I had bugged someone I knew at Docker ages ago to assist, but we never found time.

Unfortunately it seems you're paying the pioneer tax.

[2016-05-11 23:10] benmarten commented on #1028
Ok, i just confirmed, that it must be related to dokku/docker, because its working on the same instance, as just a plain install...

[2016-05-11 23:10] #1028 closed

[2016-05-12 02:30] zhangyihua commented on #1029
Ok, thx. I try later.

[2016-05-12 13:23] ibc opened #1031 "Git.RemoteCallback() => Assertion failed"
* Node v4.4.1
* OS X 10.11.4
* nodegit 0.13.0

[code]

[code]

produces:

[code]

If called with the proper `new` keyword it does not abort.

[2016-05-12 14:16] ibc opened #1032 "Need a way to cancel Clone() when credentials are invalid"
When given credentials are invalid, the `credentials` callback is called once and again.

I couldn't find any way to cancel the cloning attempt after N seconds/minutes or auth attempts.

[2016-05-15 20:13] neloe opened #1034 "Uncaught Error: A dynamic link library (DLL) initialization routine failed on Windows 10, electron 1.0.2 and 0.37.8, nodegit 0.13.0"
I'm trying to use nodegit and electron for a cross platform application.  When I run on windows 10, I get:

`Uncaught Error: A dynamic link library (DLL) initialization routine failed. `  from `node_modules\nodegit\dist\nodegit.js:15`

I've tried combinations of electron 1.0.2 and nodegit (of which there doesn't seem to be a prebuilt binary for), and electron 0.37.8 (which is what the latest .tar.

[2016-05-15 22:55] neloe commented on #1034
I obtained a back trace with this minimal example:
test.js:
```var test = require('nodegit')```
```node_modules\.bin\electron test.js```

Backtrace:
[code]

[2016-05-17 01:14] feifeipan opened #1035 "connect and push"
I need to modify a file and push. Here is my code.
But it can't push, because it continually print "url" and "username". Please help me,thanks.

`/// PUSH
.then(function() {
    return repo.getRemote("origin");
}).then(function(remoteResult) {

  console.log('remote Loaded');
  remote = remoteResult;

  // remote.setCallbacks({
  //     credentials: function(url, userName) {
  //         return no

[2016-05-17 04:59] hridyeshpant commented on #853
we are also hitting same issue

Is there any solution  for centos-release-6-7 OS?

[2016-05-17 16:48] ibc opened #1037 "Failed at the nodegit@0.13.0 install script 'node lifecycleScripts/install'"
- Debian Jessie.

`npm install nodegit` fails with that error.

What I see is that in package.json there is:

[code]

AFAIK this is wrong. Depending on the NPM version (and not sure what else) the `install` script is executed before moving the lib to its proper location under `node_modules`.

`postinstall` is the way to go.

[2016-05-17 16:51] ibc commented on #1037
npm-debug.log:

[code]

[2016-05-17 18:59] tbranyen commented on #1037
Can you submit a patch?

[2016-05-18 09:14] ibc commented on #1037
Well, that depends. Do developers of this project have something to say regarding the issue and my early proposal? Maybe I miss something as I don't know the project internals (and don't want to). If there are no concerns I can submit a PR.

[2016-05-18 10:21] ibc commented on #1037
Well, it fails if `/etc/sudoers` (Debian OS) contains:

[code]

This means that when executing `sudo -s` original user's environments is kept. That produces, "somehow", an error when nodegit is built.

No idea, so feel free to close this issue at your convenience.

[2016-05-18 17:47] maxkorp commented on #1037
Is that something that changed? This was all stuff that we worked up during npm1 and early npm2. Speaking just for myself, I'm definitely open to the change however.

[2016-05-18 18:42] ibc commented on #1037
I don't fully understand what happens. Indeed the issue happens when, having the above `sudoers` configuration, the user runs `sudo -s` (so he becomes root but keeps his environment) and then `npm i nodegit`.

But the error log does not clarify too much why it fails nor how it's related to the explained scenario.

[2016-05-19 09:00] lxw0109 commented on #626
I'm a newbie. I tried the following commands.
[code]
It just works. But I have no idea why it works at all.

[2016-05-23 13:00] ibc opened #1038 "How to checkout a branch?"
I know that `git checkout` is a sugar API provided by the `git` command line. However I find no way to properly checkout a remote branch with `nodegit`.

May I know how to do that please?

[2016-05-24 12:39] dcolens opened #1039 "nodegit in alpine docker image fails with __rawmemchr: symbol not found"
[code]

[2016-05-25 01:09] andrewstart commented on #1038
This has worked for me:
[code]

[2016-05-25 08:46] ibc commented on #1038
Thanks a lot. Will check it.

[2016-05-25 15:44] tbranyen commented on #1038
Hiya everyone, please use the Gitter channel for general support. Would rather support requests not add to our overall Issue count, thanks!

[2016-05-25 15:44] #1038 closed

[2016-05-25 15:58] ibc commented on #1038
I second that. However, given that the `nodegit` documentation says absolutely nothing regarding branches, IMHO this is an issue to be fixed by adding the proper documentation.

A question about an undocumented feature is an issue, not a support request. Otherwise, do you prefer that users will ask the same questions again and again in the support channel?

Please, document the project as it deser

[2016-05-25 16:07] tbranyen commented on #1038
@ibc, questions have already been asked over and over again in our issue tracker, so I expect the same would happen in Gitter. It's where I'd like to see questions about usage posted. We will most likely never have 100% documentation unless someone really dedicate joins to do that. There hundreds of methods we expose and probably thousands of use cases that currently need documenting. Don't forget

[2016-05-25 18:46] jschr commented on #1034
Running into the same error, windows 10 as well. Node 6.2.0

[2016-05-25 22:42] li-cn opened #1040 "Git clone failing: "error authenticating: failed connecting agent""
I'm running nodegit from an Electron project. When I try to clone a repository I want to open, I get an error message: `[Error: error authenticating: failed connecting agent]`.

Here's the code I'm running to clone the repository I want:

[code]

I generated a new SSH key, added the public key to the deployment keys for the Bitbucket repository I'm pulling from, and then ran the following in Git B

[2016-05-25 22:49] maxkorp commented on #1040
Nodegit will only listen for pageant on windows, not openssh's ssh-agent. That stems all the way upstream to libssh2, so not a lot we can do about that unfortunately.

[2016-05-25 22:49] #1040 closed

[2016-05-26 22:04] lenrico opened #1042 "why do we need a public key for cred?"
Hi,

I read the docs here http://www.nodegit.org/api/cred/ and i do not understood why i need a public key for ssh authentication?

On my shell i do everyday something like this...

`$ ssh-add .ssh/id_rsa`
`$ git clone git://user@fqdn:repo.git`

or this

`GIT_SSH_COMMAND='ssh -i .ssh/id_rsa_file' git clone git://user@fqdn:repo.git`

and never needed a public key before.

Best
Enrico

[2016-05-26 22:26] tbranyen commented on #1042
Because Git binary does all that for you. We're much more low level and libgit2 requires that information.

[2016-05-28 19:22] velgergarb opened #1043 "index.addByPath() complains. The index is locked. This might be due to a concurrent or crashed process"
I believe this is a permissions issue.  In desperation, I tried to chmod the index, but that did not take effect.  Any suggestions on how I can avoid or overcome this problem?

[2016-05-29 10:07] saper commented on #1039
Looks like a limitation of alpine's libc?

[2016-05-29 20:53] quarterto commented on #1039
Just got the same error on now.sh which I think uses Heroku Alpine.

[2016-05-29 21:05] tbranyen commented on #1039
I don't think NodeGit has ever been successfully dockerized. If anyone gets it working please report back on what you did and we'll throw up a guide on the site.

[2016-05-30 13:45] NoNameProvided opened #1044 "Latest Nodegit build is broken"
I just started to play with nodegit, but I cant use it at all. Calling Repository.init command will die silently (no console output).

[code]

Inspecting the app shows that its die while trying to load the modules in `nodegit/dist/nodegit.js` like the  `blame_hunk` module. For different calls I get different errors.

I am using osx.

[2016-05-30 15:12] neekey commented on #845
@erbridge It works for me. In case other people run into the same problem, I want to leave some more detailed steps to solve it.

First as we know Heroku use what called "Buildpack" to build our source code like install all the dependences, based on the language your application are using, different buildpacks are used. For example for a NodeJS application, Heroku use "heroku/nodejs" by default.

[2016-05-30 16:24] NoNameProvided commented on #1044
SImple example app demonstrating the issue:

[code]

[code]

Running this will throw an error in module.js:442 `"Cannot find module './annotated_commit'"` Going down in the stack trace I can see the issue is require is called from  `nodegit/dist/nodegit.js:746` when this line is called: `importExtension("annotated_commit");`

[2016-05-31 14:30] semos commented on #853
@hridyeshpant any solutions on this ?

[2016-06-01 00:55] hc000 commented on #1039
@tbranyen: do you have any recommendation on container images for running nodejs apps that depends on nodegit?

[2016-06-01 01:50] tbranyen commented on #1039
I don't know anyone who has run NodeGit in a docker image. Would be great if someone could figure it out. We'll add a guide once someone does.

[2016-06-02 18:45] zakhenry commented on #1035
Same issue. My config:

[code]

Output:
[code]

- MacOS 10.11.5
- "nodegit": "^0.13.0",

[2016-06-02 22:12] maxkorp commented on #845
I'll be adding that to the docs!

[2016-06-03 08:05] romaingweb commented on #1039
At Cucumber Ltd, we run NodeGit in a docker container.  Our base image is `alpine-node` (node 6.1.0, but node 5.11.x works as well).
The pre-built binary is not working because of musl libc limitations indeed. So we use the following command to install node packages:
[code]
This according to the [guide](http://www.nodegit.org/guides/install/from-source/) will force a build instead of relying on fe

[2016-06-03 11:20] zakhenry commented on #1035
Update - this issue may be isolated to mac - the same code works fine on travis ci. @feifeipan are you using a mac?

[2016-06-03 20:08] johnhaley81 commented on #1039
@romaingweb https://github.com/nodegit/nodegit/releases/tag/v0.13.1

[2016-06-05 23:03] gjtorikian commented on #1044
NodeGit 0.13.1 needs to be placed onto npm: https://github.com/nodegit/nodegit/commit/bdf9c680b9c0f629a468c0fb59b409ca40a141fc

The core issue was fixed: https://github.com/nodegit/nodegit/pull/1026

[2016-06-05 23:14] johnhaley81 commented on #1044
Whoops... thanks @gjtorikian. I'm publishing now.

[2016-06-05 23:19] gjtorikian commented on #1044
Thanks for the quick reply! 😻

[2016-06-06 00:30] martinheidegger opened #1045 "Not possible to getEntry of commit returned by fileHistoryWalk."
When I tried to do the following for an existing file in my repository:

[code]

but this throws the error `TypeError: Cannot read property 'getTree' of undefined`.

When examining the commit I saw that the commit is without a repo?!

nodegit version: `0.13.1`

[2016-06-06 07:36] carpeliam commented on #845
I'm running into the same issue (at least, I think so) on Cloud Foundry. I'm running node v6.1.0. I'm not sure if any of the above solutions can apply to me as I'm not actually on Heroku, but I can look into it.

Reading into @johnhaley81's comment from several months ago, it seems as though it's the CI build that depends on 4.9, but not the library itself? Can you guys speak more to that? I don't

[2016-06-06 13:44] romaingweb commented on #1039
@johnhaley81 That was quick! Thanks again!
Just tried it inside a docker image and it's working, kind of ;-). I ran into a weird issue.
At first I thought that was the same problem as before but then I did some logging on the install/build process and it looks like the submodules/getStatus thing in there depends on the fact that the parent app (or at least two directory above the `node_modules/nod

[2016-06-06 14:29] romaingweb commented on #1039
Actually it is a bit trickier than I thought. The getStatus expects the npm package to be a git repository (.git), making my own in the app just allowed for git commands to run properly.

[2016-06-06 15:59] johnhaley81 commented on #1039
@romaingweb it needs to download the version of libgit2 it's building against. If there isn't a prebuilt available then it needs to go grab libgit2 to compile the binary.

[2016-06-06 16:04] romaingweb commented on #1039
Ok, that I understand. So the only thing that's not happening inside the docker container/image is the initialisation/presence of a git repository for some reason. I tracked that down by catching the error of the exec command:

[code]

[2016-06-06 16:06] johnhaley81 commented on #1039
npm must be stripping the package of all git related data. Is NodeGit a dependency or a sub-dependency?

[2016-06-06 16:10] romaingweb commented on #1039
It's a direct dependency of our app. Prior to version 0.13.0 it was working though. I can check our old containers for `.git` folders in node_modules/nodegit but I'm pretty sure it was there. It's the only reason that status command could have worked.

[2016-06-06 16:13] johnhaley81 commented on #1039
Ahh, v0.13 is when libgit2 became a submodule. So what we could do is have a version OID plopped into the root `package.json` file that we could use as a backup and then do a `git clone` of that if the submodule stuff doesn't work.

[2016-06-06 16:16] romaingweb commented on #1039
So basically, the fact that alpine comes with some version of libgit2 does not trigger the submodule pull (and indirectly initialising a git repository), which causes the failing attempt to check the status of submodules?

[2016-06-06 16:25] johnhaley81 commented on #1039
I'm not too sure why it's dying. In my project we have to build NodeGit but it doesn't get the submodule stuff stripped. Or it does but it resolves it correctly. I'll have to look into why it works for me.

[2016-06-06 16:31] romaingweb commented on #1039
Maybe for the same reason it is working for us on inside the image when we create a git repository for our app, you can run git commands inside the package as well; Could you try to do `BUILD_ONLY=true npm install` inside the package but within a parent app that is not in a git repository? (by moving the .git to .git_bis temporarily for example)

[2016-06-06 17:04] johnhaley81 commented on #1039
@romaingweb can you try going to npm 3.8.9?

[2016-06-06 19:41] romaingweb commented on #1039
I did, it doesn't work either. So npm didn't change this behaviour in 3.9.x.

[2016-06-06 20:40] romaingweb commented on #1039
I cooked up a little scenario to reproduce this problem very easily:
1. create a new directory and `npm init` inside it;
2. run `BUILD_ONLY=true npm install --save nodegit@0.13.1`
3. check the output or build directory in the module, nothing has been built.

Like I suspected this getStatus() function only works inside a git repository, it can be the inside the module itself or any ancestor directo

[2016-06-07 08:44] stylerucom commented on #1024
I have the same problem. There is a commit, and no error while remote.push(...). But it is not been pushed.

[2016-06-08 01:45] li-cn opened #1046 "Error: 403 status code downloading tarball https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.13.1-electron-v0.37-darwin-x64.tar.gz"
I got a 403 error from S3 while building an Electron project depending on the nodegit prebuilt binaries targeting Electron v0.37.8 on x64 architecture. I think this was working last week, so my best guess right now is that the prebuilt binaries for that target got unpublished or the S3 permissions were changed.

I can't seem to find a list of published prebuilt binaries for nodegit anywhere, despi

[2016-06-08 04:19] li-cn commented on #1046
Fixed it: The nodegit dependency in my package.json was set to `^0.13.0`, and nodegit 0.13.1 was released 4 days ago. Since that release, running `npm install` requests the prebuilt binaries for version 0.13.1 instead of 0.13.0, causing the 403 error from S3.

I guess the 0.13.1 binaries targeting Electron 0.37 haven't been published yet. Changing the nodegit dependency to `0.13.0` fixed this issu

[2016-06-08 11:31] m-altmeyer commented on #1024
same here!

[2016-06-08 14:00] #1046 closed

[2016-06-08 15:32] johnhaley81 commented on #1044
@NoNameProvided is this fixed for you now?

[2016-06-08 15:37] johnhaley81 commented on #1043
@velgergarb you have to control access to writing to the index in your application. When writing to the index there is a possibility that some other git client is also writing to the index, or another function in your app is trying to write to the index. You could implement a semaphore lock for all index writes that wait for the lock to be available before obtaining the lock themselves and writing

[2016-06-08 15:37] #1043 closed

[2016-06-08 15:40] johnhaley81 commented on #1027
We just pass back the message we receive from libgit2 when an error is thrown. The low level C function result wouldn't provide much information since they aren't unique and out of context you wouldn't gain much information from them.

[2016-06-08 15:40] #1027 closed

[2016-06-08 15:41] johnhaley81 commented on #1018
This is closer now with #1041

[2016-06-08 15:43] johnhaley81 commented on #1012
This seems to be fixed in 0.13.1. Thanks @devrelm.

[2016-06-08 15:43] #1012 closed

[2016-06-08 15:45] #953 closed

[2016-06-08 15:46] johnhaley81 commented on #973
#990 is merged so this should be resolved now. Feel free to let me know if that's not the case and we can reopen this. Thanks!

[2016-06-08 15:46] #973 closed

[2016-06-08 16:10] johnhaley81 commented on #1001
The API was changed in https://github.com/nodegit/nodegit/releases/tag/v0.13.0. That was looking at `nodegit#master` at the time and 0.13.0 wasn't released yet. This should be fine now.

[2016-06-08 16:10] #1001 closed

[2016-06-08 16:11] johnhaley81 commented on #1029
@zhangyihua is this still broken for you?

[2016-06-08 16:17] johnhaley81 commented on #1046
The system we have in place for prebuilts is pretty crazy. Any time we push a tag, all of the entries in our CI matrix will build and publish a binary to S3. You can see what versions are published for node here:

Linux/OSX:
https://travis-ci.org/nodegit/nodegit/builds

Windows:
https://ci.appveyor.com/project/timbranyen/nodegit/history

Electron binaries are built from the tags that are pushed to

[2016-06-08 16:43] johnhaley81 commented on #1032
If you return `NodeGit.Cred.defaultNew()` it will cancel the clone.

[2016-06-08 16:43] #1032 closed

[2016-06-08 16:46] johnhaley81 commented on #1034
Try putting this into `.npmrc` at the root of your project

[code]

Changing values where appropriate.

[2016-06-08 16:49] johnhaley81 commented on #1035
If you're using ssh agent on OSX you have to add your ssh key to your keychain. You can do that with:

`ssh-add -K /path/of/private/key`

Otherwise you can use `NodeGit.Cred.sshKeyNew` passing in both the private and public keys (both are required).

[2016-06-08 16:51] #1042 closed

[2016-06-08 17:00] johnhaley81 commented on #1045
That is a manual function added to `RevWalk` that doesn't create commits via our JS wrapper function so it doesn't get some stuff that's necessary on it. A work around for it right now is to grab the commit's `sha` and then re-grab the commit which will then have the info on it that you need but clearly the C++ function needs to be updated.

@implausible can you take a look at this when you get so

[2016-06-08 20:47] 50Wliu opened #1049 "Nodegit v0.13.1 403s when downloading on Windows"
This might actually be an Atom build script issue; if so, apologies in advance.

I'm currently trying to build Atom, but the build script fails every time after Nodegit fails to download its binary from `https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.13.1-electron-v0.37-win32-ia32.tar.gz`, which is returning a 403 error.  Interestingly `https://nodegit.s3.amazonaws.com/nodegit/nodegit

[2016-06-08 21:43] johnhaley81 commented on #1049
Yes I didn't publish 0.37 binaries. If you guys need them I can publish them up for you.

[2016-06-08 22:25] johnhaley81 commented on #1049
Published.

[2016-06-08 22:25] #1049 closed

[2016-06-09 08:28] cedeon commented on #914
Not trying to come across as pushy but is there any progress on 'eventually' yet? :P <3

[2016-06-09 17:01] furkanmustafa commented on #982
I have found the problem and I am quite certain that @agoransson having the same issue.

JS errors happened inside the callback are somehow supressed, try `Git.Cred` instead of `nodegit.Cred` ;)

[2016-06-09 21:53] johnhaley81 opened #1051 "When installing from npm@^3.7, if pre-built binary isn't downloaded, install fails"
Related npm issue: https://github.com/npm/npm/issues/11581

[2016-06-09 23:51] hc000 commented on #853
Don't think installing libstdc 4.9 solves the issue
this is on ubuntu 14.04
[code]

[2016-06-10 06:00] get-trucked opened #1052 "0.13.2 broken npm install"
So using 4.4.5 lts node js the npm install for 13.2 appears to be a little broken.

It fails to download due to missing deps, as I can only assume npm 2.15 which comes with lts node is installing these later not part of the pre build steps with node-pre-gyp

It then rolls back to building from source which is as expected in a failed binary download attempt but not ideal as it takes a long time to

[2016-06-10 08:25] leo commented on #1052
Same for me! All Travis CI builds broken because of this...

[2016-06-10 09:27] zhangyihua commented on #1029
Thx @johnhaley81. Due to my network fail to connect S3.

[2016-06-10 09:31] zhangyihua commented on #1029
And the solution of @tbranyen had worked on UNIX.

[2016-06-10 09:31] #1029 closed

[2016-06-12 15:40] NoNameProvided commented on #1044
Hmm, just rerun this test case, and it still throw exceptions under the hood. (`"Cannot find module './annotated_commit'"`) I am not sure tho if this is expected (and handled) or not. After running this test snippet a git repo is initialized but the file is not added to the index, its untracked.

[2016-06-14 12:31] stylerucom opened #1054 "No error displays while committing with incorrect autor credentials"
Hello.

I broke my head trying to find the way to push a commit into gerrit-repository - commit is being created but not pushed:

[code]
I get `Pushed successfully` and no error. But there is no changes in repo and `git status` says that I have 1 commit to push.

After several hour of experiments It turned out to be because incorrect author name and repo-server refused push this commit. I think th

[2016-06-15 05:59] spirodonfl opened #1056 "Is there a prebuilt binary for nw.js 0.15.2?"
I'm trying to install nodegit and it makes attempts to download prebuilt binaries for nwjs v0.15.x (depending on my configs) but fails to do so.

I'm not entirely sure how to build from scratch with the nwjs headers. It seems electron is the most supported app here (I understand why).

[2016-06-15 20:29] qops1981 commented on #1052
Posted on the second link above; using: `npm install -g npm`
Solved my problem.

[2016-06-15 22:38] get-trucked commented on #1052
@qops1981 That may be helpful for some users, but I'm not sure why that works for you. I can only guess/assume you are using npm3+ globally or already have those dependencies installed globally from something else?

[2016-06-15 22:42] tbranyen commented on #1052
It looks like @johnhaley81 is working on real fixes here: https://github.com/nodegit/nodegit/pull/1055

Globally installing `npm` might work like @get-trucked said, but it's definitely not the end-all true solution.

[2016-06-17 14:13] jorisroling opened #1057 "Some examples outdated"
I found that the examples refer to ```entry.filename()``` where they should have referered to ```entry.name()```.

These files should be changed:
* examples/read-file.js
* examples/clone.js
* examples/general.js

[2016-06-17 15:21] tbranyen commented on #1057
Can you submit a PR?

[2016-06-19 03:15] Daniel15 commented on #1052
I'm seeing this too:
[code]

[2016-06-21 20:52] danielmhair commented on #1034
I'm having the same error. @johnhaley81, I did as you suggested. Same error.

[2016-06-21 20:53] danielmhair commented on #1034
Actually, my error message is slightly different:

[code]

[2016-06-21 20:54] danielmhair commented on #1034
[code]

[2016-06-21 20:58] johnhaley81 commented on #1034
That's happening with the `oracledb` package and not `nodegit`.

[2016-06-22 14:25] neloe commented on #1034
The .npmrc contents above fixed my problem (I wanted to test it on a few machines I hadn't gotten it to manually build on).  Thank you!

[2016-06-22 15:38] #1034 closed

[2016-06-22 15:50] danielmhair commented on #1034
Hey @johnhaley81, I figured out the error. It ended being Electron that had the error. For reference, anyone that has an error regarding `A dynamic link library (DLL) initialization routine failed.`, review the following: https://github.com/oracle/node-oracledb/issues/449 and https://github.com/oracle/node-oracledb/issues/176

[2016-06-22 16:00] #1057 closed

[2016-06-22 16:03] spirodonfl commented on #1056
Just as an update, I've tried building nodegit myself, ran nwjs, required nodegit, keep getting a DLL initialization error. I know that means I'm missing the nwjs headers or something else. I'm hoping I can be pointed in the right direction. I've built my own custom node modules without the nwjs header and it's worked just fine.

[2016-06-23 21:39] johnhaley81 commented on #1056
We currently do not have a system set up to build/publish nwjs binaries yet. NodeGit is a beast and I'm not surprised that while other native node modules might have worked for you NodeGit does not. It *must* be built against the target.

[2016-06-23 21:40] johnhaley81 commented on #1037
@ibc can you try again with 0.14.0?

[2016-06-23 21:41] johnhaley81 commented on #1044
@NoNameProvided I just published NodeGit 0.14.0. Can you see if that fixes this issue for you?

[2016-06-23 21:41] johnhaley81 commented on #1051
This is now fixed in NodeGit.

[2016-06-23 21:41] #1051 closed

[2016-06-23 21:42] johnhaley81 commented on #1052
I just published NodeGit 0.14.0. Feel free to try that to see if your problems are fixed now :)

[2016-06-23 22:13] Stradivario opened #1059 "Possible memory leak when opening Repository."
This video represent the situation

https://drive.google.com/file/d/0B9yXLQTv57ryTjFZd3BFaUMxSEU/view

I am sending 5000 request through API and and everything seems ok,
but when i try to open a repository it just keeps building and building memory blocks ;(
Help me guys i am not sure even if i resolve the whole chain and return everything as expected and everything is working again as i expected

[2016-06-23 22:25] tbranyen commented on #1059
Do you ever close or free the repositories when you're done with them?

Check out: http://www.nodegit.org/api/repository/

[2016-06-23 22:38] Stradivario commented on #1059
![image](https://cloud.githubusercontent.com/assets/19847933/16322532/5f54227a-39ac-11e6-9210-4901c0ee25ae.png)

This is what happens when i try to free the repository...

[2016-06-23 22:47] tbranyen commented on #1059
That sounds like you're doing something like this:

[code]

Can you confirm that you're calling the free method directly off the repo object? It'd also be helpful to see your code.

[2016-06-23 22:53] Stradivario commented on #1059
This is my Test Promise function

`		testPromise: function testPromise(request, reply) {
	        console.log('Entered inside TEST function')
	        git.createConfig({
	            status: 'commitHistory',
	            name: request.payload.name,
	            branch: request.payload.branch,
	            number: request.payload.number
	        }, reply, (cfg)=>{
	        	var promise = git.promis

[2016-06-24 10:10] ibc commented on #1037
Environment:

* Debian 8.4
* `sudo -s` executed (with `Defaults env_keep += HOME` in `/etc/sudoers` , so I'm root but I keep my user environment).
* `npm i nodegit`:

[code]

NOTE: The same happens if I run `npm i nodegit` as normal user (no `sudo`).

[2016-06-25 09:47] stylerucom commented on #1024
I've found the answer. In my case author and committer were incorrect.

[2016-06-27 16:03] vjpr opened #1060 "How to use `git worktree` with nodegit"
https://git-scm.com/docs/git-worktree

I get an error: `Error: Could not find repository from 'my-repo'`

[2016-06-27 18:29] vjpr commented on #1060
Depends on https://github.com/libgit2/libgit2/pull/3436

[2016-06-28 09:45] rmedaer opened #1061 "ancestor_tree cannot be null in Merge.trees"
In **Merge.trees** method:
As described in the documentation of libgit2, `ancestor_tree` can be `null`: _the common ancestor between the trees (or null if none)_. However, because this parameter is not set as optional in `descriptor.json`.

Using ..
[code]
give the following error: `Error: Tree ancestor_tree is required`.

### Solving it
[code]

I'll make a put request for it ! ;-)

[2016-06-29 07:45] zezba9000 commented on #914
Iv'e figured out a bunch on how to use Git-LFS with libgit2Sharp.
I'm posting this here as I would like to see gitKraken get "kraken" on LFS features as we would use it for work if it did... otherwise we are sticking with Perforce unless my tool pans out.

Hope this helps in some way.

Git-LFS Clean/Smudge filter: https://github.com/zezba9000/Git-Game-GUI/blob/master/GitGameGUI/RepoUserControl.xam

[2016-06-29 15:55] philkunz opened #1063 "lifecycleScripts/preinstall.js weird npm check"
lifecycleScripts/preinstall.js

Why is there a test for the npm version in line 13 for which npm version is installed? It causes my builds to fail, removing this check lets them pass just fine... meaning **with the check in place npm 3 works fine**, npm 2 fails.

In other words why is npm 3 handled differently from npm 2?

[2016-06-29 16:23] johnhaley81 commented on #1063
When you override npm lifecycle scripts things behave differently in npm@2 and npm@3. With 3 you'll still install all packages under `dependencies` but with 2 you have to explicitly ignore the scripts to install them. Since the lifecycle scripts themselves require those packages they must be installed before the script continues.

How is it breaking for you?

[2016-06-29 16:28] philkunz commented on #1063
Its a pretty old build log, so in newer builds I fixed this behaviour by defaulting to npm3 in all preinstalled node versions of the docker base image that the tests run in:

But the error I'm seeing when using npm2 is here:
https://gitlab.com/pushrocks/smartgit/builds/2014887

[2016-06-29 17:16] calvinmwhu commented on #124
I'm trying to create a branch using the Repository#createBranch method but it throws an empty error "{}". Could you guys take a look at what I'm doing wrong ?

[code]

The line         `res.status(500).json({message: err, data: []});
` gets called with an empty err object "{}".

[2016-06-29 17:26] calvinmwhu opened #1064 "cannot create a branch using Repository#createBranch"
I'm trying to create a branch using the Repository#createBranch method but it throws an empty error "{}". Could you guys take a look at what I'm doing wrong ?

[code]

I'm pretty sure the parameters branchName, name, email, and message are valid parameters. And `repo.getHeadCommit()` succeeds. But the error occurs when `createBranch` method gets called and it turned out to be an empty error "{}".

[2016-06-29 23:37] tommoor commented on #919
Is this fixed up now?

[2016-06-30 11:41] simonhochrein commented on #662
I also had this problem and fixed it with ```HOME=~/.electron-gyp node-gyp rebuild --target=0.30.2 --arch=x64 --dist-url=https://atom.io/download/atom-shell```. It will recompile nodegit for electron.
(it might take a few minutes though)

[2016-06-30 16:50] calvinmwhu commented on #1064
NVM,  turns out that I mis-used "repo".

[2016-06-30 17:45] #1064 closed

[2016-07-01 06:31] philkunz commented on #1063
So I think for some reason something goes wrong with the path and it isn't able to resolve the path to the local vendor/openssl...

[2016-07-01 17:13] aoffpo commented on #1052
I am seeing the exact same problem on 0.14.0 as Daniel15 reported.

[2016-07-01 22:00] philkunz commented on #1037
I experience the same issue on latest ubuntu desktop with latest nodegit.

[2016-07-01 22:05] philkunz commented on #1063
Why not move all of this stuff to a postinstall script?

[2016-07-04 07:28] aanno opened #1065 "problems to build branch master from sources on debian"
I've got problems to build nodegit (branch master) from sources like described in http://www.nodegit.org/guides/install/from-source/ on a debian _32-bit_ system:

$ lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 7.11 (wheezy)
Release:        7.11
Codename:       wheezy

$ uname -a
Linux jenkins 2.6.32-40-pve #1 SMP Fri Jul 24 11:16:05 CEST 2015

[2016-07-06 16:48] maxkorp commented on #1052
Marking this fixed until we hear otherwise :+1:

[2016-07-06 16:48] #1052 closed

[2016-07-06 16:53] maxkorp commented on #1056
The trick really is just to install it normally, then to run `nw-gyp rebuild` or whatever the standard rebuild process is these days

[2016-07-07 11:20] aanno commented on #1065
Same problem with debian 8 and 64-bit:

# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 8.5 (jessie)
Release:        8.5
Codename:       jessie

# uname -a
Linux jenkins 2.6.32-40-pve #1 SMP Fri Jul 24 11:16:05 CEST 2015 x86_64 GNU/Linux

[2016-07-09 07:37] jojobyte opened #1066 "Electron Builder asar error"
Been spawning child processes for git and wanted to switch to nodegit, but keep getting this error after installing then trying to build the Dist.

[code]

If I remove nodegit it builds correctly. If I disable asar it also builds correctly.

[code]

While this log is from OSX, this same error happens on Windows 10.

Any ideas? Need more info?

[2016-07-10 00:15] Daniel15 commented on #1052
Looks good to me now. Thanks!

[2016-07-11 00:44] mlhch opened #1067 "Sad test result of installation"
Hi,

I didn't see any words about which version of node should nodegit be installed with. Then I wrote a small script to test most main versions combination:

This is to run under my OSX after docker-machine started and docker env eval-ed:
[code]

This is to run inside container such as node:0.10, node:0.12, node:4.4, node:6.3
[code]

Unfortunately, the result is sad:

[code]

When I search nodegi

[2016-07-11 01:08] littlebee commented on #1045
I was able to work around this by setting commit.commit.repo = repo I used to create rev walker

[2016-07-11 01:19] littlebee opened #1068 "fileHistoryWalk does not return all commits"
When I compare the history returned by fileHistoryWalk to git log console output, there are a lot of commits missing from the fileHistoryWalk commits.

For example, using the atom editor repo and source:

[code]

...then, using a slightly modified examples/walk-history-for-file.js (see below) and compare.  The output from the example says there are 129 commits to text-editor.coffee but git log src

[2016-07-11 10:12] rolatsch commented on #941
Did a rewrite of my code and now it's working somehow. My old code used a subprocess to work on the repository. Maybe this caused a conflict.

[2016-07-11 10:12] #941 closed

[2016-07-11 10:18] rolatsch opened #1069 "403 when npm install nodegit - nodejs v 6.2.2"
Hi, i was forced to update to nodeJs 6.2.2 now when trying to install nodegit i get
`node-pre-gyp ERR! stack Error: 403 status code downloading tarball https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.12.2-node-v48-win32-x64.tar.gz´

Is this nodeJS version supported by nodegit?

[2016-07-11 12:17] rolatsch commented on #1069
Nevermind. My package.json locked nodegit to version 0.12.2 wich seems not to be compatible with nodeJs 6.2.2. I have removed the entry from my package.json and installed nodegit v. 0.14.0 without any problems

[2016-07-11 12:17] #1069 closed

[2016-07-13 21:54] maxkorp commented on #1068
`return walker.fileHistoryWalk(historyFile, 500);` is capping the walker at 500. I'm guessing 129 of the commits that touch that file happened within the 500 commits it's walking.

[2016-07-13 22:06] maxkorp commented on #1067
Something is definitely wrong here, I'm guessing related to not downloading prebuilts and the docker container not having the necessary compilers available.

[2016-07-13 22:33] maxkorp commented on #1066
I wonder what json it's dying on.

It's dying here: `electron-builder/src/asarUtil.ts:66:13`
any chance you get get in there to the compiled js and just sneak in a console log to discover what output it's parsing perhaps?

[2016-07-13 22:37] maxkorp commented on #1044
Other people with similar issues are seeing this kind of thing fixed in latest. Closing this, if it's still broken for you, let us know and we'll reopen

[2016-07-13 22:37] #1044 closed

[2016-07-14 00:33] jojobyte commented on #1066
Not even sure where to look to add a console log. That error is literally just from npm installing nodegit, not even requiring it in my code.

Manually building the asar via cmd line seemed to work (as in I received no errors when compiling), although I wasn't able to get it to run.

[2016-07-14 01:38] mlhch commented on #1067
Hi @maxorp,

I use cnpm just for speed and not timeout because I'm in China. You can see https://npm.taobao.org/ is a complete npm mirrow.

I also run "apt-get install -y build-essential" before every node installation in the script run.sh.

I'm not sure if it is related to something said in https://github.com/nodegit/nodegit/blob/master/README.md:

In Ubuntu:
[code]

because the docker container

[2016-07-14 02:10] tbranyen commented on #1067
Amazon S3 doesn't work in China as far as I know, sorry about that. :-/

[2016-07-14 17:07] maxkorp commented on #1066
Not especially familiar with electron-builder, does npm build cause it to do an npm install?

[2016-07-14 17:36] novalis opened #1070 "Assertion failure when mistakenly passing a function to Repository.getCommit()"
I accidentally did repo.getCommit(something.id) instead of repo.getCommit(something.id()). I got the following crash, which I had to debug by bisecting my code:

node: ../node_modules/nan/nan_object_wrap.h:33: static T\* Nan::ObjectWrap::Unwrap(v8::Localv8::Object) [with T = GitOid]: Assertion `object->InternalFieldCount() > 0' failed.
Aborted

It would be better to catch this error somewhere that

[2016-07-14 17:44] jojobyte commented on #1066
Not sure.

This is what I get in windows without build_from_source enabled.

[code]

This is the error with build_from_source enabled

[code]

[2016-07-14 22:02] maxkorp commented on #1066
So it fails to actually compile, but thats not really unexpected, it's grabbing from aws anyways.
Just weird that it says it cant find it, which to me sounds an awful lot like it's not actually properly built for electron.

Is npm vacuuming nodegit out? After the error, does `C:\dev\electron-app\app\node_modules\nodegit` still exist?

[2016-07-15 04:51] littlebee commented on #1068
oh, i see.  I wasn't sure what that did.  So does it cap out at 64K? When I change it to 10000 I get back 207 commits.  Also get 207 at 10k increments up to 100000

[2016-07-15 06:32] maxkorp commented on #1068
Hrm, not sure there. I'll try and take a look.

[2016-07-15 11:01] webjay opened #1072 "Clone hangs if repo doesn't exist"
Here's a test case:
https://github.com/webjay/nodegit/commit/6c574a6190cd8c8e063b488eab0f2efba88db7e2

[code]

Mocha times out, but Nodegit should fail before that.

On a Heroku instance, after a very long time, I have seen it fail with `Error: SSL error: syscall failure: Broken pipe`.

In rare cases I have seen a 404, so perhaps this is GitHub related.

[2016-07-15 11:04] webjay commented on #1072
This does seem to be GitHub related.
The Bitbucket test passes:
https://github.com/webjay/nodegit/blob/master/test/tests/clone.js#L318-L356

[2016-07-15 15:36] ggendre commented on #560
for the record, nodegit now has a `foreach` and `lookup`method to browse submodules

[2016-07-15 15:53] jojobyte commented on #1066
Yes, it exists. Even has nodegit.node that it complains doesnt exist.

[2016-07-15 18:21] maxkorp commented on #1066
So, if you cd into that folder, and just run `node` in your terminal, and in the console try `require('./build\Release\nodegit.node')` does that work?

[2016-07-15 18:59] jojobyte commented on #1066
`var nodegit = require('./build/Release/nodegit.node')` does. Even CDing into the folder `C:\dev\electron-app\dist\win-unpacked\resources\app\node_modules\nodegit` then running `node` and doing that does. But when I try to start the EXE I get:

![image 2016-07-15 at 12 57 15 pm](https://cloud.githubusercontent.com/assets/184880/16885452/dcfd1822-4a8b-11e6-9c25-973cfd2a127a.png)

[2016-07-15 20:16] maxkorp commented on #510
We build externally for electron now, and I'm gonna vote we just skip nwjs, honestly.

[2016-07-15 20:16] #510 closed

[2016-07-15 20:20] tbranyen commented on #510
Skip nwjs never hear of it anymore.

[2016-07-18 18:39] maxkorp commented on #1066
Yeah, so somehow, you're getting a prebuilt for node, instead of for electron.
Are you still using the npmrc (just minus the `build_from_source`) when you're not building from source?

[2016-07-18 20:09] jojobyte commented on #1066
Yup!

[code]

Is there a way I can manually download the prebuilt and copy and paste it to see if it resolves the issue?

[2016-07-18 21:55] maxkorp commented on #1066
Well, loading it in node pretty well confirms the  Can you link me to a project (either yours if it's open, or an almost barebones project using nodegit) using electron-builder?

[2016-07-18 23:11] jojobyte commented on #1066
https://github.com/jojobyte/git-electron

Thats a stripped down version. Basically Electron & Nodegit.

Run `npm install` then `npm start` to open in electron or `npm run dist` or `npm run pack` to build the installers.

This is actually starting and packaging for me but nodegit does not seem to clone anything.

[2016-07-19 00:17] calvinhmw opened #1075 "What are some ways to delete a local branch ?"
Just as git branch -d the_local_branch does in the terminal?

[2016-07-19 01:15] tbranyen commented on #1075
`someRepository.getBranch('master').then(Branch.delete)`

http://www.nodegit.org/api/branch/#delete

Let us know if you get stuck on anything.

[2016-07-19 01:15] #1075 closed

[2016-07-19 17:22] maxkorp opened #1077 "OpenSSL conflict with node 6.3"
So we need to bump OpenSSL to the latest x.2 anyways (I believe its `h`), but as of node 6.3, some sort of exports in windows are conflicting with our OpenSSL bundling.

In order to get PRs running again I've temporarily capped all builds at 6.2 here: https://github.com/nodegit/nodegit/commit/7cfcf9956ef87973aed98f65656dc24f9b559d74

@implausible and I are going to try to bump OpenSSL and if that

[2016-07-19 19:31] luffyzc commented on #1037
I experience the same issue with the latest version

`npm WARN jsdoctest@1.0.0 No description
npm WARN jsdoctest@1.0.0 No repository field.
npm ERR! Darwin 15.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "i" "nodegit"
npm ERR! node v6.2.0
npm ERR! npm  v3.10.5
npm ERR! code ELIFECYCLE

npm ERR! nodegit@0.14.1 preinstall: `node lifecycleScripts/preinstall`
npm ERR! Exit status 1
npm

[2016-07-19 21:43] maxkorp commented on #1066
Awesome dude, I'll take a look. Thanks for putting so much time in to reporting this.

[2016-07-19 21:47] maxkorp commented on #1056
Closing this as a wont-fix

[2016-07-19 21:47] #1056 closed

[2016-07-19 21:59] maxkorp commented on #1066
So, your example works fine for me locally, i can install, and run via npm start, and i can run the dist script, and then i can open the app thats placed in the dist folder and the app when i extract it from the zip. I'm able to do stuff with nodegit in the dev console as well.

[2016-07-19 22:27] jojobyte commented on #1066
I'll try it on my laptop and see. Maybe I need to reinstall node-gyp windows stuff or something.

[2016-07-19 22:43] calvinhmw opened #1078 "why is Branch.delete a SYNC call?"
I'm developing a node server where I need to manipulate a local git repo using nodegit.  I wonder if Branch.delete will possibly block since it is a sync method? Will an async version be developed? If Branch.delete will block, how much timeout value should I set in order to convert it into a async call?

[2016-07-19 22:49] jojobyte commented on #1066
Okay, it worked on my windows laptop as is, but if you set `build.asar` to `true` in package.json in the project root you get the original error I was reporting.

[2016-07-20 03:07] maxkorp commented on #1066
Hrm, lemme dig a little further

[2016-07-20 03:12] maxkorp commented on #1078
Hrm, seems like a detection error in the code generator

[2016-07-20 04:13] calvinhmw commented on #1078
So the delete method is actually Async ?

[2016-07-20 04:20] tbranyen commented on #1078
No, he means that it *should* be async, but there is a bug in our generator (or we never flipped the switch). Once that bug is fixed, it will be actually async :-)

[2016-07-20 04:21] calvinhmw commented on #1078
So right now we just use it as sync?

[2016-07-20 04:25] tbranyen commented on #1078
Correct

[2016-07-20 07:12] calvinhmw commented on #1078
Will I expect a big overhaul to the nodegit API in the future ?

[2016-07-20 07:23] luffyzc opened #1082 "cant install nodegit if the directive name in the path has space"
when i try to install nodegit i get this error:

`{ Error: Command failed: /Users/luffyzc/My Program/Nodejs/API Documentation/nodegit/vendor/libssh2/configure --with-libssl-prefix=/Users/luffyzc/My Program/Nodejs/API Documentation/nodegit/vendor/openssl/openssl
/bin/sh: /Users/luffyzc/My: No such file or directory

[code]

  killed: false,
  code: 127,
  signal: null,
  cmd: '/Users/luffyzc/My Pro

[2016-07-20 16:41] tbranyen commented on #1078
Probably not, what sort of overhaul are you expecting?

[2016-07-20 20:34] calvinhmw commented on #1078
Not really expecting any.. Just curious :)

[2016-07-20 20:38] tbranyen commented on #1078
Probably not, unless libgit2 changes. All we do is provide a very auto-generated wrapper to it with a few helper functions.

[2016-07-20 20:45] calvinhmw opened #1083 "how do I properly stage and commit all change on a feature branch?"
Say my repo is at current branch X whose parent branch is master. What is the equivalent API(s) calls for achieving:
git add -A
git commit -m "<commit message>" ?

Is it correct to do:

[code]

How do I obtain Tree and parents in this case? Should I get the parents object by calling the "getHeadCommit" object on the master branch ?

[2016-07-20 20:46] calvinhmw commented on #1078
thx!

[2016-07-20 20:46] #1078 closed

[2016-07-20 20:51] maxkorp commented on #1078
So something like this would change, perhaps a few other methods which _should_ be async but are also sync would change as well, but no large overhauls

[2016-07-20 22:32] calvinhmw commented on #1083
NVM. Figured it out.

[2016-07-20 22:32] #1083 closed

[2016-07-21 05:53] calvinhmw opened #1084 "Is Index#addByPath thread safe ?"
So one part of my Node app needs to stage/add multiple files at once. This is what I do with the Q promise library:

[code]
In my understand Q.all tries to run all the async functions in parallel. Can we run multiple index.addByPath() in this way since we're not sure if it is thread-safe?

[2016-07-22 18:48] sgen commented on #1037
I'm having the same issue.

OS: Ubuntu Desktop 15.10
Node.js Version: 5.12.0
npm version: 3.8.6

output:

`> nodegit@0.14.1 preinstall /home/sgen/Documents/javascript/test/nodegit/node_modules/.staging/nodegit-7aec4eff

[nodegit] Running pre-install script
[nodegit] Configuring libssh2.
{ [Error: Command failed: /home/sgen/Documents/javascript/test/nodegit/node_modules/.staging/nodegit-7aec4eff/ve

[2016-07-22 21:37] calvinhmw opened #1085 "error authenticating: no auth sock variable when calling remote.push"
I'm trying to use ssh-key authentication for performing push and pull command. Here is my function that pushes a new branch up to a remote:

[code]

And I'm getting the error:
`     Error: error authenticating: no auth sock variable`
When trying to push a new branch to 'origin'. Here is the output for running "#ssh-agent":

[code]

How do I get the authentication to work? My ssh-key in stored in '

[2016-07-22 21:38] #1084 closed

[2016-07-22 23:10] calvinhmw commented on #1085
NVM.. figured it out. Just setting the ssh-key paraphrase to empty does the job.

[2016-07-23 23:47] calvinhmw opened #1086 "username field in CredAcquireCb in the RemoteCallbacks class"
I'm trying to understand the way nodegit initiates authentication. For the provided Repository's fetch function:

var nodegit = require("../");
var path = require("path");

[code]

When the credentials call back is invoked, does the remote repo provide the url and username parameters ?

[2016-07-24 16:41] aanno commented on #1065
I pulled with the (classical) git command line client. No idea why nobody reported it before.

[2016-07-25 21:08] calvinhmw opened #1087 "Is there a command doing the same thing as git add -A ?"
In a terminal, "git add -A" not only stages newly added/modified files but also stages deleted files. That way we don't have to call "git rm" to stage deleted files. How do I achieve this in nodegit ? Does Index.addAll() only stages newly added/modified files?

[2016-07-25 22:57] mlms13 opened #1088 "Cannot npm install in Ubuntu 16.04, fails during preinstall script"
I've tried installing from npm as well as [building from source](http://www.nodegit.org/guides/install/from-source/), and all installs fail during the `preinstall` script. I've tried using Node 0.12, 4.4.5, and 6.3.1 (switching with NVM). I think that this issue is different from #1037 (at least as that one was originally reported), because that issue shows up while executing `install`, not `prein

[2016-07-26 13:26] tensor5 opened #1089 "Build with Electron 1.3"
Electron 1.3 is based on V8 5.2.361.43, which dropped deprecated member `GetHiddenValue`.

[code]

[code]

[2016-07-26 22:33] azotova commented on #1037
Hi, I am experiencing a similar issue on Mac OS 10.11.6 (and 10.11.5). Node v. 4.4.3.
[code]

[2016-07-28 13:56] #1063 closed

[2016-07-29 20:57] maxkorp commented on #1088
Yeah, theres an issue with our build structure. If you `sudo apt-get install libssl` that should take care of it. It's supposed to pull its own for a static link, but that doesn't appear to happen properly.

[2016-07-30 00:33] vsukhomlinov commented on #961
It happened to me as well when I tried to build nodegit for centos_7. Build itself passes, but crashes at runtime
node: symbol lookup error: /home/aws-user/dashboard/node_modules/nodegit/build/Release/nodegit.node: undefined symbol: gcry_control

[2016-07-30 00:33] mlms13 commented on #1088
Ah yep, no `libssl` package on Ubuntu 16.04, but installing `libssl-dev` did the trick.

[2016-07-30 18:38] tbranyen opened #1092 "Using windows-build-tools"
Leaving this issue open for experiments with https://github.com/felixrieseberg/windows-build-tools. I just learned about it at npm.camp and it seems pretty legit. Might solve a lot of complexity issues with compiling NodeGit on Windows.

[2016-07-30 22:05] maxkorp commented on #1092
WHAAAAAAAAAAAAAAAAAAT

[2016-07-31 19:25] maxkorp commented on #961
This looks like it may be related to a libssh2 version mismatch https://bbs.archlinux.org/viewtopic.php?id=123000

[2016-07-31 19:28] #1088 closed

[2016-07-31 19:30] maxkorp opened #1093 "Current build setup prevents using bundled openssl when building from source via npm"
So, we pass "--with-libssl-prefix" when we call libssh2 configure, but if that is not already built, it fails and falls back to system. This means all our work to get that back to link our version isn't working properly at the moment. We need a way to call libssh2 configure after we build openssl when we build from source.

[2016-08-01 15:30] mlms13 commented on #1088
The CI build seems to be failing on Linux for the same reason: https://travis-ci.org/nodegit/nodegit/jobs/147599864

It might be good to update the preinstall script, or at least the README.

[2016-08-01 15:54] tbranyen commented on #1088
@mlms13 that CI error looked to be completely unrelated. I've restarted the build since it looked to be network related.

[2016-08-01 15:55] jojobyte opened #1094 "Cloning Repo with Invalid Filename fails on Windows"
Trying to clone the repo from https://github.com/bocoup/opendesignkit on windows and I get an empty error object.

I'm fairly certain its because of the colon in this file: https://github.com/bocoup/opendesignkit/blob/master/wiki/Open-Design-Kit:-Design-Brief.md

I cloned the repo with TortoiseGit and it worked but had a changed file immediately after clone, The above file is missing and "Open-Des

[2016-08-01 16:09] mlms13 commented on #1088
There are a bunch of seemingly unrelated npm failures in there, but at the very end it dies with a failure in the preinstall script. It'll be interesting to see if it completes this time.

[2016-08-01 16:25] tbranyen commented on #1088
Well it looks like it passed, but the console output is still indicating an error. I dunno?

[2016-08-01 16:27] tbranyen commented on #1094
Looks to be an issue with libgit2, as reported here: https://github.com/libgit2/libgit2/issues/2994

[2016-08-01 19:47] maxkorp opened #1095 "Postinstall causes trouble when built for electron"
On postinstall, we try to require the nodegit binary as a test. When we build the module for not-vanilla-node, the binary is there but does not load (since we run from npm from vanilla node, regardless of what we're building _for_). I don't really know a good way around this short of either just checking that the binary exists instead of if it's loadable, or removing it entirely.

[2016-08-01 21:33] vsukhomlinov commented on #961
I fixed it yesterday by installing openssl-devel. And btw, since you guys percompile your binary on some new linux distro, I have to force `BUILD_ONLY=true` before `npm install` in centos 7. You guys might want to specify all binary dependencies for Linux users.

[2016-08-01 22:42] maxkorp commented on #961
Yeah, thats actually a build error on our side. That should all be statically linked, but something is broken there. Def related to us not linking libssh2 to our own openssl properly :(

Closing this in lieu of https://github.com/nodegit/nodegit/issues/1093

[2016-08-01 22:42] #961 closed

[2016-08-01 23:11] calvinmwhu opened #1096 "cannot npm install nodegit with gcc-4.8.5"
My gcc-version is 4.8.5 but during installation I got the following error:

[code]

It looks like there is no GLIBCXX_3.4.20 in gcc4.8. Wouldn't nodegit support gcc4.7+ ?  How do I configure my gcc to make it include GLIBCXX_3.4.20 ?

[2016-08-01 23:16] tbranyen commented on #1096
You're missing the `libstdc++-dev` dependency mentioned in the README.

[2016-08-01 23:16] #1096 closed

[2016-08-01 23:30] tylerchurch opened #1097 ""Invalid collation character" when trying to diff"
I'm not 100% sure whether this is a nodegit or a libgit2 issue, so apologies in advanced if this isn't nodegit's fault.

When trying to get diffs for certain commits, I'm getting the "Invalid collation character" returned from nodegit. However, this isn't for every commit, and it's not for every platform either. I've only been able to get this to happen in this situation:

- Using nodegit (tested

[2016-08-02 00:13] calvinmwhu commented on #1096
Since the docs are targeted for Ubuntu whereas I'm using Centos (centos-release-6-8.el6.centos.12.3.x86_64) and a libstdc++-dev does not seem to be available in centos's domain. Do you have ideas how I can upgrade my libstdc++.so.6 to include the GLIBCXX_3.4.20 version ?

[2016-08-02 02:08] tbranyen commented on #1096
Urgh, I wish! CentOS is something I have very limited experience with. I'd search for whatever provides libstdc++ headers in the package manager, should be a relatively easy issue to Google I'd hope. Sorry I closed the issue so quickly, but we can discuss this issue better in realtime with [Gitter](https://gitter.im/nodegit/nodegit). If we figure something out, I'd definitely be okay with updating

[2016-08-03 18:20] calvinmwhu commented on #1096
ok so the solution is to install gcc-4.9

[2016-08-03 18:28] calvinmwhu opened #1098 "" C compiler cannot create executables" in libssh2 during npm install"
I'm working with I have gcc-4.9.1 and got the following error during npm install of nodegit:

[code]

My system is centos-release-6-8.el6.centos.12.3.x86_64 . Can someone help me with this?

[2016-08-03 20:30] calvinmwhu commented on #1098
BTW. the config.log shows:

[code]

It looks like it's because the gcc -V command is not recognized?

[2016-08-04 19:40] frederikbrinck opened #1099 "Issue with Repository#fetch/fetchAll fetchOptions"
I have been trying to fetch the tags of my repo, by setting fetchOptions `downloadTags:1`. However, it didn't seem to work. Is this method obsolete (see following code for replication)?

[code]

After a lot of reading, I stumbled upon this way of allowing for tags: `git.Remote.setAutotag(repository, remote, 1);`. It solved my problem, but I had to look around for a long time.

Am I doing something

[2016-08-04 20:58] calvinmwhu opened #1100 "how to change the library path that nodegit compiles against?"
So when I run npm install on nodegit it gives me:

[code]
My libc.so.6 only has GLIBC_2.12 so I install glibc-2.14 from source but the new library has a different name: libc-2.14.so . How do I configure the nodegit installation so that it compiles against /lib64/libc-2.14.so instead of /lib64/libc.so.6 ?

[2016-08-05 14:13] murli5in commented on #1024
@stylerucom Can you please post your the code.

[2016-08-05 14:17] stylerucom commented on #1024
Author and committer are specific for my company credentials. I ignored that and used something like root@company.com.
And I didn't get any error, that's strange.

[2016-08-05 14:18] murli5in commented on #1024
It is working fine . In my case, In stage, there are couple of pending commits . Deleted old commits and it started working fine.

[2016-08-05 15:23] saper commented on #1098
You are using a self-compiled gcc but the system linker does not support -plugin option, see http://stackoverflow.com/questions/27813341/how-to-fix-unrecognized-option-plugin-when-using-gdc-to-compile-d-program Try to sneak `-fno-use-linker-plugin` or compile your own binutils with and use ld from there.

[2016-08-05 17:30] saper commented on #1100
I am sorry, but for the older glibc you will need to compile from source (I can see from other issues that you are trying this at the moment).

[2016-08-05 17:52] saper commented on #1094
This is a well-known incompatibility with NTFS, since colon on Windows means either a drive letter separator or indicates the alternate file stream (see http://latkin.org/blog/2016/07/20/git-for-windows-accidentally-creates-ntfs-alternate-data-streams/ for more details). I have seen this problem with some SVN clients, so this problem is by no means limited to git.

[2016-08-05 18:00] jojobyte commented on #1094
Makes sense, even if there isnt a fix for nodegit, if it returned more than an empty error object it would be handy.

Tested it with `git clone https://github.com/bocoup/opendesignkit.git` just now and it performs the same way as TortoiseGit.

Shouldn't libgit2 perform the same way as the actual CLI or is this some pre-checkout windows specific hook the CLI installs that libgit2 is missing?

[2016-08-08 10:04] zhizunbaono1 opened #1101 "Error: Failed to write index: The index is in-memory only at Error (native)"
hi, i meet a problem.Can you help me?

When I use code like this:
[code]

it throw a problem say:Error: Failed to write index: The index is in-memory only
    at Error (native)

Can you help me?

[2016-08-08 20:03] frederikbrinck commented on #1085
@calvinhmw can you please elaborate?

[2016-08-08 21:51] calvinmwhu commented on #1100
You mean I need to compile nodegit from source by doing a npm install inside the nodegit repo ?

[2016-08-09 05:39] #1101 closed

[2016-08-09 08:52] victorbutler opened #1102 "npm install failed at the nodegit@0.14.1 preinstall script 'node lifecycleScripts/preinstall'."
Red Hat Enterprise Linux Server release 7.2 (Maipo)
Node v6.3.1
NPM v3.10.5
NodeGit v0.14.1
[npm-debug.log.txt](https://github.com/nodegit/nodegit/files/408538/npm-debug.log.txt)
---
I'm having some trouble installing nodegit on my RHEL7 machine. Works fine on my Mac locally, but when I execute on RHEL7, it dies. The following is the console output, which is different than the npm-debug log (attac

[2016-08-09 08:57] saper commented on #1100
Yes.

[2016-08-09 09:01] saper commented on #1037
@azotova your problem is different and pretty interesting, can you file another issue for the "stderr maxBuffer exceeded"?

[2016-08-09 09:08] saper commented on #1085
@calvinhmw please study how ssh-agent works, its output needs to be swallowed by the current shell.

[2016-08-09 09:08] #1085 closed

[2016-08-09 09:14] saper commented on #1097
Do you have `LANG`, `LC_ALL` or `LC_COLLATE` set in your environment? Try `echo $LANG` and `env | grep LC_`

[2016-08-09 09:26] saper commented on #1097
The first bad commit on master merges the one with accented UTF-8 characters in the commit author name, here is how my terminal renders it:

[code]

[2016-08-09 20:39] azotova opened #1103 "Failed to install 0.15.1 with 'stderr maxBuffer exceeded' error"
Hi, I experienced the following issue on Mac OS 10.11.6 (and 10.11.5). Node v. 4.4.3.

[code]

Update: upgrading to node v.6.2.2 seems to have solved the issue.

[2016-08-09 20:41] azotova commented on #1037
@saper  Done: #1103  Thanks for looking into this (although updating Node solved the issue for me).

[2016-08-09 21:57] saper commented on #1103
Also reported against npm: https://github.com/npm/npm/issues/11670

[2016-08-10 07:06] isvaljek opened #1104 "Multiple users fetching the same repo concurrently"
What would happen if multiple users were to fetch the repo in the same moment? Is it safe? What about other operations like diff during another user's fetch?

[2016-08-10 14:26] johnhaley81 commented on #1104
Currently there is no way that libgit2 (and thus NodeGit) protects from issues like these. One way you could do it is add a `.git/config.lock` file with no content and just check the existence of it before you do a fetch.

NodeGit _does_ however protect against concurrent actions like that for calls using the same binary of NodeGit.

[2016-08-10 14:31] johnhaley81 commented on #1102
Great write up but I do think this is a dupe of #1037. Closing out. Thanks @victorbutler!

[2016-08-10 14:31] #1102 closed

[2016-08-10 14:55] johnhaley81 commented on #1068
@littlebee can you try using `RevWalk#fileHistoryWalk`? A quick and dirty example:

[code]

[2016-08-10 15:11] johnhaley81 commented on #1077
@maxkorp @implausible what did you guys find out?

[2016-08-10 15:17] johnhaley81 commented on #1086
The url for the remote will dictate the `url` and `userName` parameters for the `credentials` callback.

Ex:

origin remote url: `git@github.com:nodegit/nodegit`

url: `git@github.com:nodegit/nodegit`
userName: `git`

[2016-08-10 15:18] johnhaley81 commented on #1087
@calvinhmw that is correct. `git add -A` is syntax sugar for what you want to do. We don't have a built-in way currently to do what you're asking. One thing you can do is iterate over all of the files and call `Index#remove` on the files you want to delete.

[2016-08-10 15:18] #1087 closed

[2016-08-10 15:19] johnhaley81 commented on #1089
Thanks @tensor5. I'll look into this.

[2016-08-10 15:25] johnhaley81 commented on #1099
This might be related to https://github.com/libgit2/libgit2/issues/3870

[2016-08-10 15:41] maxkorp commented on #1077
Haven't gotten to touch this :/

[2016-08-11 08:08] polarathene commented on #1097
I just ran into this error with GitKraken after changing a file and clicking it to view the diff. The project was originally developed on OSX and I've cloned it to a linux machine(Arch), both used GitKraken(electron based git client that uses nodegit/libgit2 I believe).

`echo $LANG`: `en_NZ.UTF-8`
`env | grep LC_`: `LC_COLLATE=en_NZ.UTF-8`

I'm not sure what the OSX system had, more than likely U

[2016-08-11 18:30] calvinhmw opened #1105 "Can I push using https instead of ssh-agent?"
In the example it has this piece of code that push to a remote:
[code]

The ssh-agent is behaving abnormally on my server so I was wondering if there is an API for pushing using HTTPS using personal access tokens ?

[2016-08-11 22:07] maxkorp commented on #1089
Wait, Electron is using v8 5.2, but the latest node is only on 5.0?

[2016-08-11 22:09] maxkorp commented on #1089
Yeah, something seems off here, I'm looking at electron/electron#master, and I'm still seeing calls to gethiddenvalue there as well. This is something we need to address, but are you sure that 1.3 si build that way?

[2016-08-11 22:22] saper commented on #1103
Would that be possible to try that with an older node and npm 3.9.0? It would be good to check if this is really an npm issue. What version of npm did you have before with node v4?

[2016-08-11 22:30] maxkorp commented on #1089
So I've started trying to move us to get/setPrivate, but that seems to break with older versions of v8 (e.g. 5.0, as used in node 6.3)

[2016-08-11 23:15] maxkorp commented on #1089
Got a solution coming for this shortly

[2016-08-11 23:21] maxkorp commented on #1089
See #1106, soon as that lands this should be ready.

[2016-08-11 23:33] maxkorp commented on #1105
All the cred types are listed here: http://www.nodegit.org/api/ 👍

[2016-08-11 23:33] #1105 closed

[2016-08-11 23:48] #1089 closed

[2016-08-12 03:56] maxkorp commented on #1077
Very much related: https://github.com/nodejs/node/issues/7608
This is going to end up with some bizarre gypfile tomfoolery

[2016-08-12 04:13] maxkorp commented on #1077
Does not look good, in particular related to electron >.<
https://github.com/nodejs/node-gyp/issues/874

[2016-08-12 04:15] maxkorp commented on #1077
Ooh, possibly related
https://github.com/electron/electron/pull/6585/commits/e8c03f2555f5c4ac0b867cf20dc13160836b7c8a

[2016-08-12 04:23] maxkorp commented on #1077
Ha, that worked!

[2016-08-12 04:26] maxkorp commented on #1077
So bumping openssl actually breaks node 0.12 though. I'll make an issue for that

[2016-08-12 04:27] maxkorp opened #1109 "Continued Node 0.12 support?"
Do we want to continue support for 0.12? Bumping openssl to latest breaks 0.12 support, but I don't know if thats worth fixing (not sure how long it would take). Now that node 4 is LTS (and has been for a while), are we ok potentially dropping 0.12 support?
@nodegit/owners

[2016-08-12 05:16] maxkorp commented on #1077
Also related
https://github.com/nodejs/node/issues/4932

[2016-08-12 13:22] implausible commented on #1045
@johnhaley81 This just needs an additional step at the Javascript layer. In the lookupwrapper util, we add repo to the commit objects ourselves. I'll fix it this morning.

[2016-08-12 16:29] maxkorp commented on #1109
So bumping openssl was fixed fairly easily after all, but this is still worth talking about IMO, even if the end result doesnt happen til later.

[2016-08-12 21:23] azotova commented on #1103
I had npm v2.15.1 with node v. 4.4.3. I'll try to test it with the combination of node v.4.4.7 and npm 3.9.0 this weekend.

[2016-08-15 14:28] tylerchurch commented on #1097
@saper Thanks for the response! Looks like `LANG` is set to `en_US.UTF-8` and there aren't any `LC_` values set. Do you want me to try changing any of these?

[2016-08-15 19:32] vbarshai commented on #489
Has this ever been merged? Or is the issue still open? Thanks!

[2016-08-16 18:37] syagev opened #1112 "Cloning with an SSH agent that has no identity causes NodeGit to hang"
May be related to #497

Minimal example:

    const Git = require('nodegit');
    const cloneOpts = {
        fetchOpts: {
            callbacks: {
                 certificateCheck: () => 1,
                 credentials: (url, userName) =>
                     Git.Cred.sshKeyFromAgent(userName)
            }
        }
    };
    Git.Clone('some-private-repo', '/tmp/a', cloneOpts)
        .then(co

[2016-08-16 19:47] maxkorp commented on #1112
Thanks for reporting this! We'll take a look.

[2016-08-16 19:57] syagev commented on #1112
Sorry, my bad, the issue is not related to credentials. The callbacks aren't even being called. This was tested on a machine with no open outgoing ports (including SSH) so cloning is not really an option...

As far as I'm concerned this is valid behaviour, event the git CLI does not seem to timeout or fail under these conditions, it just stalls.

[2016-08-16 19:58] #1112 closed

[2016-08-17 08:35] saper commented on #1097
In theory UTF-8 locales should be fine. Let me try to reproduce the problem.

[2016-08-17 13:38] saper commented on #1109
As long as it works... I have proposed a change to node https://github.com/nodejs/node/pull/8027 to make cross-compilation a bit easier. Still hoping that this hits the 0.12 maintenance release.

[2016-08-17 21:55] azotova commented on #1103
I tested it with node v. 4.5.0 and npm v. 3.10.6 (is this ok or should it be npm 3.9.0 specifically?) I installed nodegit successfully. These are nodegit-related messages that I see in the terminal:
[code]

[2016-08-18 00:37] saper commented on #1103
This seems to be an npm bug then. According to https://github.com/npm/npm/issues/11670 it was broken with npm v3.7.3 and worked after upgrade to v3.9.0, I don't know when and how exactly this got fixed.

[2016-08-18 04:15] maxkorp commented on #1077
https://github.com/nodejs/help/issues/254

[2016-08-18 04:20] maxkorp commented on #1109
Ya, I guess we should leave it for now, EoL is end of the year, we can kill it then
https://github.com/nodejs/LTS#lts_schedule

[2016-08-18 04:20] #1109 closed

[2016-08-18 04:34] maxkorp commented on #1100
Alternatively, you can set BUILD_ONLY=1 when you run `npm install nodegit`

[2016-08-18 04:34] #1100 closed

[2016-08-18 04:40] maxkorp commented on #1037
Currently, nodegit requires you to have the openssl dev headers installed.
On ubuntu: `sudo apt-get install libssl-dev`
That should take care of it. If it doesn't, let us know and we'll reopen.
related: https://github.com/nodegit/nodegit/issues/1093

[2016-08-18 04:40] #1037 closed

[2016-08-18 04:40] maxkorp commented on #307
With how memory management is going, this is a no go I think.

[2016-08-18 04:40] #307 closed

[2016-08-18 04:42] maxkorp commented on #626
Closing out all of these old electron-how-to issues.

[2016-08-18 04:42] #626 closed

[2016-08-18 04:42] maxkorp commented on #662
Closing out all of these old electron-how-to issues.

[2016-08-18 04:42] #662 closed

[2016-08-18 05:32] maxkorp commented on #1066
Looked at this a bit more, I honestly have no idea man :/

[2016-08-18 05:52] maxkorp commented on #1066
Well, when i get the json contents of the asar and try parsing them I get the same error, but adding 2 closing braces seems to fix it?
http://www.jsoneditoronline.org/?id=a6ac96d57bbfd93575b3e92d0566bf1f

I'm going to have to chalk this up to an electron-builder bug, I'd log something over there. I'm able to pack nodegit into an asar manually (omitting the .node, clearly) without trouble  :/

[2016-08-18 05:52] #1066 closed

[2016-08-18 15:30] aeweidne commented on #1037
Still getting the issue...

[code]

[2016-08-18 19:26] maxkorp commented on #1037
@aeweidne If thats your only build error then something else is up. Are you building for electron or something?

[2016-08-18 19:32] aeweidne commented on #1037
I got this when trying to install `nodegit` during staging to Bluemix and as well as when trying to build a Docker image from the standard node 4.4.x image

[2016-08-18 19:35] maxkorp commented on #1037
Yeah, your image will have to install libssl-dev (or openssl-devel on centos i think it's called). See: #1093

[2016-08-18 20:03] aeweidne commented on #1037
Hm, I thought I already was but I guess I was mistaken.  Thanks for the info and quick response.

[2016-08-18 20:10] saper commented on #1037
@aeweidne I am afraid the problem is because of the old GNU C++ library installed. Can you try compiling from source? You will probably need a newer compiler as well :(

[2016-08-19 15:11] cbargren commented on #489
Proxy support did get merged in, this can probably be closed.

[2016-08-19 18:53] vbarshai commented on #489
Thanks @cbargren it's been merged in v0.15.0 but looks like the latest builds break:
babel --presets es2015 -d ./dist ./lib (no lib dir)

[2016-08-19 23:44] fastbean-au commented on #1039
I've been able to get it to work with the Docker node image, using a Dockerfile like this:

[code]

Or:

[code]

[2016-08-20 10:06] saper commented on #1039
Do I understand correctly that the Alpine problem is worked around by forcing building from source

[2016-08-21 20:21] pwagener commented on #569
For those stumbling in here from Google trying to do a similar thing, the solution I'm going with in `v0.15.1` is ...
[code]
Would love to hear of a better solution, but this works for me for now.

[2016-08-25 03:03] withinboredom commented on #1103
It was crashing for me due to running `npm install --save nodegit` while having an `npm-shrinkwrap.json` file... I deleted the shrinkwrap and it installed fine.

[2016-08-29 00:43] hardog opened #1115 "Failed to mmap. Could not write data: Invalid argument (VirtualBox shared folder)"
Hello, here need help, when clone a repo, error comes to me:
[code]
## system
cmd line type `$ uanme -a`
`Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

## tried nodegit version

`0.13.0, 0.15.0, 0.15.1`

## code

[code]

anyone can help me ?

[2016-08-29 04:55] saper commented on #1115
Which filesystem are you working on? Are you sharing that directory somehow via SMB, NFS, VirtualBox shared folder etc.?

[2016-08-29 08:31] hardog commented on #1115
@saper yes, VirtualBox was used and shared a folder on Mac OS system,   it's the problem?

[2016-08-29 18:22] saper commented on #1115
Yes, this "filesystem" lacks some semantics neededby libgit2 client and will not work. You might also have trouble with other tools. I'd recommend switching to NFS.

[2016-08-30 02:53] hardog commented on #1115
@saper Got it, thx a lot!

[2016-08-30 02:53] #1115 closed

[2016-09-01 11:53] almson commented on #1097
I'm facing the same issue as well in GitKraken. Running it with `LC_ALL=C` works, but not otherwise.

 My locale is mostly US English. When I installed Xubuntu I set my timezone to Kiev, but picked English everywhere that was asked and have English (United States) set as the regional format. The only thing non-english is Russian as an additional (secondary) keyboard layout. The problem occurs only

[2016-09-02 12:34] martinheidegger opened #1116 "Moved files show up in deltas as two entries"
If you move a file it is recognized as one operation with clients such as Sourcetree:

[![https://gyazo.com/100c0d8948b030b8b564f67a70f6d95a](https://i.gyazo.com/100c0d8948b030b8b564f67a70f6d95a.png)](https://gyazo.com/100c0d8948b030b8b564f67a70f6d95a)

but if I check diffDelta's with `nodegit` like this:

[code]

i get the output:

[code]

Which is weird because the API obviously says `oldFile.pa

[2016-09-02 13:54] martinheidegger commented on #1116
Further research revealed following workaround:

[code]

Which is quirky and weird - to say the least.

[2016-09-02 15:13] jamon opened #1117 "Potential threading issue"
If I try to clone or fetch multiple projects at the same it seems to fail silently sometimes, leaving the promise unresolved forever.  I'm testing against a remote repo using the SSH protocol.

[2016-09-02 15:19] johnhaley81 commented on #1117
@jamon can you run `NodeGit.setThreadSafetyStatus(NodeGit.THREAD_SAFETY.ENABLED_FOR_ASYNC_ONLY);` before you do the clone/fetches and see if it breaks?

[2016-09-02 17:29] jamon commented on #1117
Same issue.  If I set it to clone 3 repositories, firing them all off at the same, at least one project will always clone successfully, but sometimes 1 or 2 of them will fail.  I replicate it by removing the local copy and re-running the same script over and over, at least 1 of the 3 will fail about 50% of the time.

When it does fail, my credential and progress callbacks do not get called for the

[2016-09-02 17:41] jamon commented on #1117
Is there a connect timeout, clone timeout available?  or perhaps the ability to cancel a connection cleanly so that one could implement their own timeout?

[2016-09-02 17:45] jamon commented on #1117
Sorry for the spam, one other useful piece of information is that if I kill the process after waiting a while, the resulting directory will have a valid .git folder and the remote will be added, but the fetch/clone against the origin never completed, so "git reflog" returns empty in the folder.

[2016-09-02 20:04] johnhaley81 commented on #1117
/cc @srajko

[2016-09-02 21:50] srajko commented on #1117
@jamon thanks for the report. Which version of nodegit are you using?

[2016-09-02 21:57] jamon commented on #1117
Built from master, I can try a release build if you'd like

On Fri, Sep 2, 2016, 4:51 PM Stjepan Rajko <notifications@github.com> wrote:

[2016-09-02 22:22] srajko commented on #1117
The number of threads that nodegit spins up is currently hard-coded to 10.  You can try increasing that number (https://github.com/nodegit/nodegit/blob/master/generate/templates/templates/nodegit.cc#L122) to see if it makes a difference, but I think 10 threads should be enough for what you're doing.

If that doesn't help, could you please send a minimal script that reproduces the problem using pub

[2016-09-03 02:29] droidmonkey commented on #1097
I can third this issue in GitKraken. It seems that the root cause is when a commit author has a name with UTF-8 characters in it. Only one repo I have exhibits the issue, and sure enough it is the only one with an author who has UTF-8 character name.

[2016-09-03 13:49] georgeedwards commented on #845
The steps above that @neekey wrote out throw the following warning from the Heroku build dialogue.

[code]

It seems that the project has been replaced by [Convox](https://convox.com/)? Is it worth updating these steps / docs to reflect this?

[2016-09-03 20:10] andrewrynhard commented on #1018
@johnhaley81 could you provide an example for `Commit.createWithSignature` and how to commit to  `HEAD` with it?

[2016-09-03 20:18] andrewrynhard commented on #1018
Where can I find the source code?

[2016-09-05 01:24] strugee opened #1118 "ReferenceError: Promise is not defined on Debian"
Installing NodeGit on Debian 8 gives:

[code]

I'm on Node.js version `v0.10.29`, npm version `3.10.6`. My `npm-debug.log` is at http://sprunge.us/XbBP.

[2016-09-05 16:44] eric-schleicher commented on #142
Is this a dead subject? or is there a working port of libgit2 that can be used in the browser or in node?

[2016-09-06 01:13] frederikbrinck opened #1119 "Tag.annotationCreate does not work"
I might not understand annotationCreate properly, but given the following code with `author` being a `Signature`, `version` a string,  `object` pointing to the latest commit.

[code]

No new tag is created on the repository if the annotationCreate function is used, as compare to the create function. If my understanding is correct, I suggest the docs get updated.

[2016-09-06 02:20] frederikbrinck opened #1120 "Segmentation fault: 11 on Tag.list(...)"
Calling Tag.list() with a Remote object throws a segmentation fault. Replicate with the code below:

[code]

Running nodegit 0.15.1, npm 3.10.7, node v6.4.0 and node-pre-gyp 0.6.18.

[2016-09-07 02:07] martinheidegger opened #1121 "Follow semver?"
It is right now sort-of impossible to publish easily a working version of a package depending on nodegit because it doesn't follow semver yet. Would it be a problem to switch to semver?

[2016-09-07 13:52] hellosmithy commented on #489
Has anyone managed to get this working behind a corporate proxy?

[2016-09-07 14:06] vbarshai commented on #489
@hellosmithy not on our side - ended up having to use proxy exports and native git commands as a workaround until a stable release.

[2016-09-07 14:11] johnhaley81 commented on #489
@cbargren and @implausible were working on getting something going here but ran into some bigger issues.

[2016-09-07 16:45] cbargren commented on #489
Yeah, unfortunately proxy support is only implemented in the curl and openSSL transport streams, neither of which are currently used by NodeGit. @implausible knows a little more, but NodeGit needs to be able to use one of those for us to be able to utilize libgit's proxy support. It also needs to be fixed in NodeGit(the generated code isn't working properly), but that should be much simpler than t

[2016-09-07 19:28] paulcbetts opened #1122 "nodegit locks files on Win32"
It seems as if nodegit won't release file locks on Windows, even if you are very careful to close all of the objects

An easy repro is to try to run the [Surf](https://github.com/surf-build/surf) test suite on Windows, it will fail all of the `afterEach`s because the packfile is locked

[2016-09-08 20:59] sgen commented on #1121
nodegit is following [semver](http://semver.org/#spec-item-5).

Version 1.0.0 defines the public API. Versions < 1.0.0 are considered alpha / beta and are prone to change between versions.

Fleshing out the implementation prior to releasing 1.0.0 and defining a public API is the right choice. Rushing 1.0.0 only to release 2.0.0, 3.0.0, and 4.0.0 in the next 6 months because the API is inadequate a

[2016-09-08 23:46] sgen commented on #1121
I'm not a nodegit developer. Just someone who's weary of premature 1.0.0 releases.

[2016-09-09 21:24] maxkorp commented on #1122
Thanks for the heads up on this 👍

[2016-09-10 17:19] dorongutman opened #1123 "How do I checkout a branch from remote when it doesn't exist locally ?"
I've tried using `checkoutBranch` but I get an error - `no reference found for shorthand 'my-branch-name'`

[2016-09-10 19:41] elliottsj opened #1124 "Fails to install on macOS 10.12 (Sierra)"
Using Node.js v6.5.0, npm v3.10.3, and nodegit@0.14.1 (i.e. the current `['dist-tags'].latest`):
<details>
<summary>`npm install nodegit`</summary>
[code]
</details>

The same error occurs with nodegit@0.15.1, and Node.js v4.5.0 / npm v2.15.9.

I'm using the latest macOS Sierra GM (macOS 10.12 (16A320))

[2016-09-11 01:23] maxkorp commented on #1118
FYI, we've completely dropped node 0.10 support a while ago. We should however still be using a promise library I thought.

[2016-09-11 03:43] strugee commented on #1118
That's unfortunate, as most Linux distributions ship 0.10. I get it, though. :(

[2016-09-13 08:16] WORMSS commented on #624
Shouldn't this still be open but with a RequiresUpstream label or something?

[2016-09-13 16:26] jamon commented on #1117
I did some more research and I'm unable to reproduce this against github, which leads me to believe that it is specific to something our internal repository is doing.  My guess is that it's throttling requests or that we're hitting some other issue on that server establishing the ssh connection (I haven't tried non-ssh to see if it happens there).

Is there any way to cleanly set a timeout for fet

[2016-09-13 18:05] jamon commented on #1117
after more research, I've found that:

int _git_ssh_setup_conn in vendor/libgit2/src/transports/ssh.c never completes, I'm digging a bit deeper, but I'm not a C programmer, and I don't have a proper debug environment setup, so it's slow-going.

I'm currently adding printf's and re-running npm install on the whole nodegit module, if you have pointers on a better workflow for troubleshooting, I'm ha

[2016-09-13 19:10] jamon commented on #1117
More details....

in vendor/libgit2/src/transports/ssh.c, in the _git_ssh_setup_conn method:

		error = t->owner->certificate_check_cb((git_cert *) cert_ptr, 0, host, t->owner->message_cb_payload);

We get to this line, my callback code for the certificate check gets executed:

            certificateCheck: function() {
                console.log("node -- CERT CHECK");
                return 1;

[2016-09-13 19:45] maxkorp commented on #1117
Welcome to my hell :/

FWIW, you can run `node-gyp build` if you have node-gyp globally installed, and that will cause the rebuild to be way faster than a full install.

[2016-09-13 19:46] maxkorp commented on #624
Odds are once it's available upstream, it will just automagically land in nodegit, unless there is something special about it that requires explicit attention on our end.

[2016-09-13 19:49] maxkorp commented on #1118
Honestly, we're most likely going to end up dropping 0.12 soon as well. We'll maintain through LTS (and longer if theres no reason to drop), but even 0.12 is going to have some issues that arent worth coding around at link time pretty soon. That's not to say it won't work with 10,  just not officially supported.

Edit: That's in the build scripts? I'll take a look around, if we're using a promise

[2016-09-13 19:50] jamon commented on #1117
Yeah, I did try doing that, but while it built, it didn't actually use my new code.  At this point I'm throwing in the towel for now.  I'm just going to wrap all of nodegit in my own wrapper, execute it via fork(), and send commands to/from my wrapper, with timeouts associated with them.  Whenever nodegit/libgit/libssh hang forever like it's been doing, I'll just kill the process and recreate it.

[2016-09-13 20:36] strugee commented on #1118
OK. In any case I ended up must writing the same thing, based on spawning Git subprocesses. So no worries :)

[2016-09-13 23:14] maxkorp commented on #1123
You have to manually create the branch locally, reset it, and check it out. checking out a remote in git proper just does those steps for you automatically.

[2016-09-13 23:24] maxkorp commented on #1124
So node 6.5 is an expected failure currently, but can you try node 6.2?
4 is a bit more curious, although I bet the openssl exports got backported.

[2016-09-14 00:33] elliottsj commented on #1124
Yep, here's with Node v6.2.2 / npm v3.9.5:

<details>
<summary>`npm i nodegit`</summary>
[code]
</details>

[2016-09-14 14:26] n8behavior commented on #728
Ubuntu 16.04 needs `sudo apt install libssl-dev` then good to go.

[2016-09-14 14:28] n8behavior commented on #791
yup, `sudo apt install libssl-dev` fixes for Ubuntu 16.04

[2016-09-14 19:46] maxkorp commented on #1124
Ah, shit. Something changed with their openssl lib.
if you have homebrew `brew install openssl && brew link openssl --force` will fix it.

For the actual issue that should resolve this, see here: https://github.com/nodegit/nodegit/issues/1093

[2016-09-14 21:57] maxkorp commented on #1122
Shit, I was going to suggest freeing the repo, but it appears you're already doing that.

[2016-09-14 22:02] maxkorp commented on #1120
Tag.list takes a `Repository` object, not a `Remote`. What precisely are you aiming to do here, view the state of the tags on the remote?

[2016-09-14 22:02] #1124 closed

[2016-09-14 22:03] #1123 closed

[2016-09-14 22:07] maxkorp commented on #1103
Closing this as an npm bug.

[2016-09-14 22:07] #1103 closed

[2016-09-14 22:10] maxkorp commented on #1067
Sorry I'm just getting back to this, can you post the actual error you get?

[2016-09-14 22:23] maxkorp commented on #1104
Closing this as the response is fair, please feel free to comment and we can reopen if you have more questions.

[2016-09-14 22:23] #1104 closed

[2016-09-14 22:52] maxkorp commented on #1065
So I just checked this, and including cloning with cli, my line endings are correct. I'm gonna guess it's the dated version of git, or otherwise an invalid git setting

[2016-09-14 22:52] #1065 closed

[2016-09-14 23:18] paulcbetts commented on #1122
I went hard on freeing _everything_ and it still didn't help

[2016-09-15 02:56] frederikbrinck commented on #1120
I figured that it took a `Repository` and I managed to do what I intended. However, I suppose it is a vulnerability that Tag.list does not check the object type and just proceeds, throwing a segmentation error to the developer. Shouldn't this error be caught instead and handled by nodegit?

[2016-09-15 17:57] #905 closed

[2016-09-15 17:58] maxkorp commented on #1095
Fixed: https://github.com/nodegit/nodegit/pull/1111

[2016-09-15 17:58] #1095 closed

[2016-09-15 18:06] maxkorp commented on #1120
Yes, but this is not specific to this case. Currently, our type checking between a js object, and a nodegit object isn't there. We're just able to check that whatever was passed in is an object.
I'll make an issue for that (as it is an issue), but it's far more generic, and requires a fix in our C++ templates.

[2016-09-15 18:08] maxkorp opened #1127 "Tighter type checking on passed in nodegit methods"
As seen here: https://github.com/nodegit/nodegit/issues/1120

Generated code is as such
[code]

Where info[0] is meant to be a GitRepo object. Templates need to be fixed up to support this.

[2016-09-15 18:08] maxkorp commented on #1120
Closing this in lieu of that issue.

[2016-09-15 18:08] #1120 closed

[2016-09-15 20:49] frederikbrinck commented on #1120
Thanks for the clarification.

[2016-09-17 17:59] highco opened #1128 "Writing index after merge throws error"
When running examples/merge-cleanly.js, the following error is thrown by index.write():
Uncaught Error: Failed to write index: The index is in-memory only
Either index.write() or the example is broken.

[2016-09-19 15:48] RichardLewin87 opened #1129 "Issues with post install script"
I am currently trying to install nodegit v0.15.1 via npm but it is failing to complete the post-install script with the following error:

\\?\C:\Code\...\temp\electron-projects\node_modules\nodegit\build\Release\nodegit.node
    at Error (native)
    at Object.Module._extensions..node (module.js:568:18)
    at Module.load (module.js:456:32)
    at tryModuleLoad (module.js:415:12)
    at Function.M

[2016-09-19 20:30] maxkorp commented on #1129
This is fixed as of 0.16.0. It's because it's compiled for electron, not node, so when we try to load it up in node it dies. The check is bypassed when being built from electron in newer versions.

[2016-09-19 20:30] #1129 closed

[2016-09-19 20:36] #760 closed

[2016-09-20 10:04] dorongutman commented on #1101
@zhizunbaono1 how did you solve it ?

[2016-09-20 15:41] RichardLewin87 commented on #1129
Hi @maxkorp. I did as you suggested and it did solve the issue I outlined so thank you for the help with that. However, I am now encountering a new problem. When it is downloading the pre-built electron it is attempting to download Electron v0.37.8 that, I assume from the message I get, is not available (it is very old version of Electron now so I understand this being the case). Error in console

[2016-09-20 15:56] RichardLewin87 opened #1130 "v0.16.0 pre-install script failing - binaries not found"
I posted an issue I was having with the post-install here.

[https://github.com/nodegit/nodegit/issues/1129](url)

@maxkorp. I did as you suggested and bumper nodegit version to 0.16.0 and it did solve the issue I outlined so thank you for the help with that. However, I am now encountering a new problem. When it is downloading the pre-built electron it is attempting to download Electron v0.37.8 th

[2016-09-20 18:19] kevinludwig opened #1131 "npm install fails with "GLIBCXX_3.4.20 not found" when using node-6.6-wheezy docker image."
As stated in title. The error is below:

[code]

[2016-09-20 20:15] dwelle opened #1132 "postinstall fails on Windows"
windows 7, node v6

[code]

[2016-09-21 16:29] dorongutman commented on #1124
@maxkorp I ran that line (on the final 10.12 sierra version out there) and got this output:
[code]

[2016-09-21 16:45] johnhaley81 commented on #1124
@dorongutman can you run `sudo xcode-select --install` and reinstall the CLT for xcode?

[2016-09-21 16:46] dorongutman opened #1133 "Loop inside "credentials" callback when using `sshKeyFromAgent`"
I'm getting stuck where the "credentials" callback keep getting called endless times.
The credentials callback is `return Git.Cred.sshKeyFromAgent(userName);`
Running `git fetch origin` in the terminal works fine.
The repository is using `git@github.com:/user/repo`.

I'm using
* macOS 10.12 (final version, not beta)
* node 5.9.1, installed using `nvm`
* npm 3.10.7
* nodegit 0.16.0

[2016-09-21 22:46] mitchellmorris opened #1134 "Can't install via NPM"
Am I missing something? Any tips how to get around this? It just started happening.

[code]

[2016-09-21 22:53] johnhaley81 commented on #1134
Latest Xcode just straight up broke things all across the world. Try running `sudo xcode-select --install` and update the xcode CLT. That fixed it for me.

[2016-09-21 22:57] mitchellmorris commented on #1134
Thanks man!

[2016-09-21 22:57] #1134 closed

[2016-09-22 08:08] centigrade-thomas-becker commented on #1069
I have the same problem, but somehow I am stuck with nodegit 0.12.x. In my package.json nodegit version was set to "^0.12.1", but I never got a newer version than 0.12.2 after installation.

I had to remove the entry from my package.json, and install it again with `npm install --save nodegit` to finally get the latest version (0.16.0)

Does anybody have an idea why this did not work? AFAIK ^0.12.1

[2016-09-25 19:16] marthinus-engelbrecht opened #1139 "Git.Clone.apply is not a function"
Hi please see the below.

[code]

It seems that somehow Function.prototype.apply gets ripped off the Git.Clone function. This prevents we from using [sinon](http://sinonjs.org/docs/) to create a spy of it.

[2016-09-25 23:29] michaelneale commented on #1124
After upgrading to sierra, I upgraded to xcode 8 (and made sure I started it up once)

I then encountered this problem.

I then ran:
`brew install openssl`
and
`sudo xcode-select --install`

as mentioned above and it seems able to install nodegit now (sierra, xcode8). Thanks for the tips!

[2016-09-26 08:00] WORMSS commented on #1134
What if you are getting the same error `vendor/libssh2/missing: Unknown `--is-lightweight' option` but do not have xcode-select ??

[2016-09-26 15:11] johnhaley81 commented on #1134
@WORMSS are you on OSX?

[2016-09-28 09:29] Kovensky opened #1140 "Concurrent use of the same repo.createRevWalk() crashes"
[code]

This crashes node (6.5.0) with SIGSEGV. Using a separate `repo.createRevWalk()` per iteration avoids the crash.

[2016-09-28 09:40] Kovensky commented on #1068
`fileHistoryWalk(fileName, 500)` seems to behave like just a regular `getCommits(500)` that filters by commits that have the `fileName`, instead of returning (up to) 500 entries that involve the `fileName`.

`revwalk.fileHistoryWalk(fileName, 1)` will always result in `[]` unless the file was modified in the commit that was pushed in the `revwalk`.

This makes `fileHistoryWalk` fairly useless IMO

[2016-10-01 20:04] alantrrs opened #1142 "npm install -g fails on preinstall with project where nodegit is a dependency."
Tested on macOS Sierra and OS X El Capitan.

I get the following error when doing ``npm install -g`` on Mac. It looks like it's failing on the preinstall script
[code]

It doesn't fail however when I do ``npm install`` within the project's directory. This works fine:
[code]

Any thoughts?

[2016-10-03 11:05] almson commented on #1097
I don't think I have unicode authors in my repo (checked with https://github.com/jgehrcke/git-authors). I do have a few commits by "unknown." I also have plenty of unicode in my source files, and possibly in commit messages.

[2016-10-03 17:54] maxkorp commented on #1093
Relevant, as the workaround no longer works cleanly either >.<
https://github.com/Homebrew/brew/pull/612

[2016-10-06 06:41] alantrrs commented on #1142
Never mind, my bin path was not set properly so node-pre-gyp wasn't being found.

[2016-10-06 06:41] #1142 closed

[2016-10-11 09:35] almarieSaayman opened #1145 "Require latest version not working"
I have a windows machine, I did not test on another platform.
When I install the latest version (0.16.0) using npm and I execute the following script:

console.log('before');
let _nodegit = require('nodegit');
console.log('after');

Only 'before' gets logged. When I installed version 0.15.1 everything seemed to be working fine again.

For now I will be using version 0.15.1.

[2016-10-13 08:52] tanliyuan opened #1146 "some docs cann't visit"
Branch.iteratorNew(repo, list_flags).then(function(branchIterator) {
  // Use branchIterator
});
I click the link
http://www.nodegit.org/api/branch_iterator/

[2016-10-13 12:30] centigrade-thomas-becker opened #1147 "Wrong PR reference in changelog"
In the changelog for [0.13](http://www.nodegit.org/changelog/#v0-13-0) it says:

The reference PR #990 has the title "Make `Remote.create` async". I think the reference should be PR #989 instead, which is aptly named "Remove `Repository#openIndex`"

[2016-10-14 12:31] wKich commented on #1133
#1032 Here same issue. But I don't know why `sshKeyFromAgent(userName)` return invalid credentials. For me only `Git.Cred.sshKeyNew(...)` is work correct. And I think this is ugly workaround solution.

[2016-10-14 17:10] kauegimenes opened #1149 "nodegit.Clone folder gets removed"
Hello, i am trying to use nodegit to clone / create a repository, add new files, commit, push, and then remove the repository.

But after i call the nodegit.Clone i see the folder appear, and a few seconds later gets removed.

[2016-10-14 17:22] #1149 closed

[2016-10-15 01:26] kauegimenes opened #1150 "Error: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found"
Hello,

I am trying to publish my application that uses nodegit to Openshift, but i am getting this error:

[code]

[2016-10-15 06:37] saper commented on #1150
Your deployment environment used a different (probably lodem) runtime C++ library `libstdc++`. The easiest way to fix this is to build node-git on your target environment from source, capture and deploy the `binding.node` file as a binary. Please note it might be incompatible with the environment your are deploying from.

[2016-10-15 09:08] petega commented on #1134
Since this issue popped up first, when I searched for this error:
On Ubuntu 16.04 this problem might be solved by `sudo apt install libssl-dev` (thanks to @n8behavior)
See #728

[2016-10-17 17:25] mikalai-silivonik commented on #853
`BUILD_ONLY=true npm install nodegit` solved the problem for me on centos7. Thanks to https://github.com/nodegit/nodegit/issues/853#issuecomment-169240445

[2016-10-19 07:36] centigrade-thomas-becker commented on #940
I am getting the same problem with node 6.8.1 and npm 3.10.8

[code]

[2016-10-20 20:32] BenHall commented on #760
I'm still seeing this with 0.16.0 :( Any ideas?

[2016-10-22 22:38] alangpierce commented on #1128
@highco I ran into this same issue and ended up solving by using the `Merge.merge` function instead of `Merge.commits`. One problem that took me a while to track down is that you need to specify `Checkout.STRATEGY.FORCE` (or some other non-default strategy) or else it won't change your working directory you'll end up with a completely empty merge commit.

Here's a code snippet that hopefully is he

[2016-10-22 22:40] alangpierce commented on #1101
@dorongutman I ended up running into the same issue and ended up solving it using `Merge.merge` instead of `Merge.commits`. See this comment for more details: https://github.com/nodegit/nodegit/issues/1128#issuecomment-255558213

[2016-10-24 20:13] bumpmann opened #1152 "Documentation"
Add the method and parameters descriptions to the documentation. Most methods have not any.

e.g. on http://www.nodegit.org/api/index/#getByPath

[2016-10-24 20:52] eppsilon commented on #760
I'm seeing this too. OS X 10.12.1 with Node 6.9.0.

[2016-10-24 20:53] BenHall commented on #760
My workaround is to write to temp files and use the non-memory method :(

[2016-10-24 21:20] eppsilon commented on #760
I think there might be something up with the CI build environment. I tried using a locally built `nodegit` and it seems to work (though I get a different error: `username does not match previous request`).

[2016-10-26 16:09] Pomax opened #1153 "Seeing the precompiled nodegit binary from S3 fail hard on Travis CI"
It looks like the most recent precompiled binary hosted on S3 that TravisCI relies on is broken:

[code]

[2016-10-27 02:33] alantrrs commented on #1153
Experiencing the same issue with Node v7.0, can reproduce on my Linux laptop as well.

[2016-10-27 08:18] saper commented on #1153
Just build one from source for now. I believe node 7 bindings are not yet out.

[2016-10-27 17:42] Pomax commented on #1153
"Just" implies that's easily done. Travis CI breaks when it tries the recompile. There is no "just" here, unfortunately. (There is almost never a "just", in fact. It's really a word to leave on the shelf in almost every instance it's used =)

[2016-10-27 22:47] gbahamondezc commented on #1133
Same here, some ideas?

[2016-10-28 02:00] gbahamondezc commented on #1133
@wKich sry, but what is specifically the workaround?  i'm trying to use sshKeyNew() but still not working.

[2016-10-28 14:51] jordonbiondo commented on #1150
For others: I've been using this in my `package.json` to make it work for now, it's not ideal but it works for my production and dev environments.
[code]

[2016-10-29 17:56] aafrey commented on #1037
@maxkorp `sudo apt-get install libssl-dev` fixed this issue for me on Ubuntu

[2016-10-31 04:58] wKich commented on #1133
@gbahamondezc, I don't know why this workaround is not working for you. I think is better switch to https://github.com/steveukx/git-js this package.

[2016-11-01 17:00] tommoor opened #1155 "Libgit2 Slack"
Your README links to a private Slack room:

https://github.com/nodegit/nodegit#have-a-problem-come-chat-with-us

What happened to Gitter? How do folks get into this private slack community?

[2016-11-02 15:38] mathieumg commented on #1153
Further details:

[code]

[2016-11-02 15:52] saper commented on #1153
@mathieumg It seems that you've run into https://github.com/nodejs/nan/issues/587

[2016-11-02 15:54] mathieumg commented on #1153
Yeah, did a bit more research, seems like this is wrapped here https://github.com/nodegit/nodegit/commit/38bcb340bbac946d3a389d3b13ffe1f62f0958b6#diff-6ac095c73b0cfbf7cd78ee2fd594fdc8 Didn't realize there was a breaking release (0.16) with that change, trying it at the moment.

[2016-11-02 20:52] james-mcelwain commented on #1133
This happened to me because I failed to init the ssh agent and ssh-add. Doing so solved my problems. :)

[2016-11-03 14:59] #1059 closed

[2016-11-04 13:05] willwade opened #1156 "npm install nodegit failing on mac 10.12.1"
mac os x 10.12.1
Xcode installed
node 4.2.2

npm install nodegit is failing on:

node lifecycleScripts/preinstall && node lifecycleScripts/install

and this is the error log:

	3415 info nodegit@0.16.0 Failed to exec install script
	3416 verbose unlock done using /Users/willwade/.npm/_locks/nodegit-5643d9eb4a969649.lock for /Users/willwade/Downloads/node-web-scraper-master 2/node_modules/nodegit

[2016-11-04 13:11] andy-ms opened #1157 "AWS 403 error for prebuilt binaries on node 7.0.0"
I am getting this error after upgrading to node 7.0.0:

[code]

The install works in node 6.9.1.
Tested on Windows 10.

[2016-11-04 18:07] suprememoocow commented on #1156
I'm getting a similar error on macOs Sierra, possibly related:

[code]

[2016-11-05 23:34] DanUgore commented on #1145
I've encountered the same problem. Thank you for providing a temporary solution.

[2016-11-09 18:16] algv commented on #1077
This 68226340314f68fe1e5a34a3ea2f04257fe931fe improve build. Or it is not full correctly?

[2016-11-11 10:38] michaelmcallister commented on #925
I'm running into the same problem - and calling `submodule.reload(1)` didn't change anything for me, I rewrote @tylerchurch's code to suit my needs which just git clones each submodule, it works okay, depending on what you need.

[code]

[2016-11-11 17:49] pronebird commented on #1156
Same error.

[2016-11-14 18:30] aspirisen commented on #1157
Have the same

[2016-11-15 07:00] thisconnect commented on #1157
me too https://travis-ci.org/thisconnect/nodegit-kit/jobs/173458364 https://github.com/thisconnect/nodegit-kit/issues/19

[2016-11-15 10:19] aspirisen commented on #1132
Have the same on windows

[2016-11-15 11:05] e-cloud commented on #1134
I'm using Ubuntu 16.10, facing the same error.

[2016-11-15 22:27] ArthurStam commented on #1133
Does anyone have a solution? @wKich, can you show example with sshKeyNew?

[2016-11-16 00:30] danShumway commented on #1134
Should documentation be updated for this? Better yet, is there a node crypto library that ``nodegit`` could fall back on if ``libssl-dev`` isn't present?

[2016-11-16 10:30] dukeofsussex commented on #1157
Nearly the same here, 403ing on `ERR! Tried to download(403): https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.16.0-node-v45-linux-x64.tar.gz `

[2016-11-16 11:49] dukeofsussex opened #1158 "NG 0.16.0 Travis issues"
Working fine for Node 4,5,6, but not for iojs.

Added the travis snippet from the Readme, but no luck: https://travis-ci.org/pencilblue/pencilblue/jobs/176044958

This is what happens when I set the `BUILD_ONLY=true` flag: https://travis-ci.org/pencilblue/pencilblue/builds/176333203

[2016-11-16 12:34] WORMSS commented on #1134
@johnhaley81  no, I was using a Raspberry Pi..

Sorry for big delay, I must have missed your reply.

[2016-11-16 17:26] mattboutet commented on #1156
`brew install libgcrypt` worked for me, but first I had to update homebrew, twice - if you have trouble with libgcrypt, it could just be an out-of-date version of homebrew.

[2016-11-18 10:19] hardog opened #1159 "rss memory keep up which the project has 10G large"
I have a task which every loop add,commit,merge,push file to git, code like [loop git task](https://github.com/hardog/nodegit-example/blob/master/accmp.js), the git project is 10G large, but every loop just submit 2 file, the problem is that the rss memory keep up until memory exhaust!

system: `$ uname -a`
`Linux hmp-dev.fi.beibei.com 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_6

[2016-11-18 11:18] Kanaye opened #1160 "npm install fails on freebsd 11.0-RELEASE-p2"
npm install nodegit fail when trying to build libgit2.

The errors generated:
[code]

System is FreeBSD 11.0-RELEASE-p2
Node version: v7.1.0
npm version: 3.10.9

The npm-debug logfile and the stderr are attached below (the compiler errors / warnings seems not to get captued by npm).

Building the submodule in ``vendor/libgit2`` as documented on the libgit2 repo works.

Please let me know if you ne

[2016-11-18 19:26] noderat commented on #657
@johnhaley81 It could be something nodegit could support itself, it makes sense it's not part of libgit2. See https://github.com/libgit2/libgit2/issues/964#issuecomment-170353017

[2016-11-19 06:08] MattMcFarland opened #1161 "node binding fails 403 forbidden when using node 7 with travis CI"
[code]

config:
[code]

You can see the whole log output here:
https://travis-ci.org/trainyard/choo-cli/jobs/177217273

[2016-11-19 12:51] michael34435 opened #1162 "Self-hosted gitlab always return HTTP 411 when pushing"
Hey, guys.
I want to cherry-pick a commit and push it to my gitlab server. But it always return `Error: Unexpected HTTP status code: 411`
I have no idea what's wrong with my code... please give me a help

environment:
macOS 10.12.1
node.js 7.1.0 (--harmony-async-await)
nodegit 0.16.0

Here is my code:
[code]

Thanks!

[2016-11-20 13:59] wKich commented on #1133
@ArthurStam I use this example from tests https://github.com/nodegit/nodegit/blob/master/test/tests/clone.js#L210-L234

[2016-11-21 11:12] mlhch opened #1163 "Prebuilt binary list of https://s3.amazonaws.com/nodegit/nodegit/"
Hi,

I found below is a typical failure, which is due to fail to download the prebuilt binary of https://s3.amazonaws.com/nodegit/nodegit/nodegit-v0.1.4-node-v11-darwin-x64.tar.gz.

When I try to browse https://s3.amazonaws.com/nodegit/nodegit/, it says AccessDenied.

When I try `cd ./node_modules/nodegit/ && ./node_modules/node-pre-gyp/bin/node-pre-gyp info`, it says "TimeoutError: Missing creden

[2016-11-21 14:21] michael34435 commented on #1157
same here

[2016-11-21 14:58] setiseta commented on #1163
Same on Windows:
- ERR! Tried to download(403): https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.16.0-node-v51-win32-x64.tar.gz

[2016-11-22 09:39] SkeLLLa commented on #1134
Same bug on gentoo linux.

[2016-11-22 09:55] michael34435 commented on #1162
I guess that I found the problem.
I use `http protocol` and nodegit reject me and return 411 error code.
Does anyone has any idea? :(

[2016-11-22 18:54] mlhch commented on #1163
For others to reference, if I cd to the nodegit path and run its install.js via `npm install`, then I can have a great chance of building the nodegit.node successfully. Then I can save the compiled nodegit.node and place it to the corresponding location in other projects.

[code]

[2016-11-22 19:27] sveisvei commented on #1163
Getting this as well `configure: WARNING: 'missing' script is too old or missing`

[2016-11-22 19:34] wadeanthony0100 commented on #1156
`brew install libgcrypt` also solved this for me. Should this be documented as a Mac OS requirement? Some documentation would be a nice to have IMO.

[2016-11-24 20:31] DeX3 commented on #1134
Happens for me as well on Mac OS Sierra 10.12.1. `sudo xcode-select --install` gives me:

[code]

App Store tells me XCode is up to date though.

[2016-11-26 02:26] DinkDonk commented on #1156
I get the same error. `brew install libgcrypt` did not solve it for me.

[2016-11-26 18:02] saper commented on #1131
Looks like #1150 is the same.

[2016-11-26 18:05] saper commented on #1162
How many changes do you need to push?

[2016-11-26 19:37] saper commented on #1162
Can you check if this is https://github.com/libgit2/libgit2/issues/3981#issuecomment-257518324 (libgit2 requires chunked encoding to push changes)?

[2016-11-26 19:51] saper commented on #1160
This command to compile `src/iterator.c` fails:

[code]

[2016-11-27 11:26] DeX3 opened #1166 "`npm install` fails on `lifecycleScripts/preinstall`"
When running `npm install` on mac os sierra 10.12.1, npm gives me the error

[code]

when it tries to configure libssh2. I'm using an up-to-date version of xcode with CLT installed.

Full error trace:

[code]

[2016-11-27 15:11] mlhch commented on #1163
For others information, I've made great progress:

For me I'm installing nodegit@0.1.4, a rather old release, there is an install.js.

- Edit <project dir>/node_modules/nodegit/install.js, just print the error message using console.log:

[code]

Then run `npm rebuild nodegit` to generate the actual message. Mine is "Error: Command failed: /bin/sh: ./node_modules/.bin/node-gyp: No such file or dire

[2016-11-27 15:11] #1163 closed

[2016-11-27 15:17] thisconnect commented on #1163
Why is this issue closed?
Do you suggest to downgrade to npm@2 and nodegit@0.1.4 ?

[2016-11-27 16:20] mlhch commented on #1163
nodegit@0.1.4 is a rather old version. I use it because I have a project developed and based on the old API.

Obviously, I suppose there was no npm@3 for nodegit@0.1.4 at that time. So I think this is not an issue for nodegit@0.1.4, but something else need to pay attention to when install.

[2016-11-28 17:12] matteocng commented on #1157
System: Linux
Node: 7.2.0
Npm: 3.10.10 / Yarn: 0.17.9
Nodegit: 0.16.0

`node-pre-gyp
ERR! Tried to download(403): https://nodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.16.0-node-v51-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for nodegit@0.16.0 and node@7.2.0 (node-v51 ABI) (falling back to source compile with node-gyp)`

Then it builds successfully and works.

[2016-11-29 13:29] peterchoo opened #1167 "transferProgress callback data"
I'm trying to get some useful data out of the transfer progress callback, but am currently failing.

I have the following callback:

[code]

This is only firing once when the repository has finished downloading, but I suspect that this is due to the repository being very small.  However the data it is returning is rather useless to me:

[code]

This looks like it is the data from the first attempt

[2016-11-29 19:43] DeX3 commented on #1166
Can anyone who's also on Mac OS Sierra confirm this issue? I'd really like to know whether I'm alone here.

[2016-11-29 19:45] DinkDonk commented on #1166
I can confirm. Same problem here.

[2016-11-29 20:15] DeX3 commented on #1166
Managed to solve it! Turns out the warning about the `--is-lightweight` option is unrelated to why the configure-script failed. Examining `config.log` revealed that it failed when it tested `gcc` with a basic c program (gcc failed with `cannot find -lSystem`). Running

    brew reinstall gcc

fixed that for me. The warning about the `--is-lightweight` option still persists however (but it still wo

[2016-11-30 01:22] DinkDonk opened #1168 "Tests fail on MacOS Sierra"
Master branch fails testing on MacOS Sierra:

2 failing:

[code]

[2016-11-30 10:08] richadr commented on #1166
for me, reinstalling brew and doing `brew install libgcrypt` solved it

[2016-11-30 10:21] DinkDonk commented on #1166
@richadr are you able to do a build without warnings and errors and run all test successfully after brew reinstall?

I am specifically having trouble with this: #1168

[2016-11-30 16:18] pebanfield opened #1169 "Slack Channel Access"
Hi -

The readme says -

Have a problem? Come chat with us!

https://libgit2.slack.com/

but this channel seems to require an invite. Perhaps this is the intent? I was hoping I could get some help with a node module version issue. Thanks.

Peter

[2016-11-30 21:56] PatrickWalker commented on #1132
Worked for me on windows 10 btw specifically installing v0.16.0 from npm cli but that was node v4.5.0 but I retried with 6.9.1 and also got a success

[2016-11-30 22:07] PatrickWalker commented on #1132
https://github.com/sass/node-sass/issues/1371#issuecomment-181830972
references potential permissions error. Is this a package install or a local build/install?

[2016-12-01 21:54] rcjsuen commented on #1155
Looks like the channel is actually located at:
http://slack.libgit2.org/

There is a separate #nodegit channel there.

[2016-12-01 21:55] rcjsuen commented on #1169
See issue 1155. It seems like like the channel is actually located at:
http://slack.libgit2.org/

There is a separate #nodegit channel there.

[2016-12-01 22:23] pebanfield commented on #1169
ah k missed that - thanks!

[2016-12-01 22:23] #1169 closed

[2016-12-02 08:06] rcjsuen commented on #1155
I submitted pull request #1170 to edit the `README.md` file.

[2016-12-02 14:58] CraZySacX commented on #1167
You can try decreasing the throttle.  0 turns it off.  Default is 1 event per 100ms.

[code]

[2016-12-02 17:42] adius commented on #801
[code]

yields

[code]

[2016-12-03 12:11] blackshade91 opened #1171 "Installing nodegit on Centos 6"
Installing nodegit with npm I have this error:

make: *** [Release/obj.target/openssl/vendor/openssl/asm/x64-elf-gas/aes/aesni-sha256-x86_64.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/opt/EasyDev-App/source/node_modules/node-gyp/lib/build.js:276:23)
gyp ERR! stack     at emitTwo (events.js:106:13)
gyp ERR! stack

[2016-12-05 02:17] michael34435 commented on #1162
@saper I only had one change to push and my `git push` works fine.
Is this problem related to http protocol?

[2016-12-05 07:23] mjschock commented on #574
Thank you @neutrinog!

I spent the better part of a weekend searching for a solution for a similar issue with nodegit on macOS.  The following finally resolved the issue:

`BUILD_ONLY=true ELECTRON_VERSION=1.4.10 npm install nodegit -D`

Here are my setup details:
* macOS 10.12
* Node.js 6.5.0
* npm 3.10.3
* Python 2.7.10
* nodegit 0.16.0
* electron 1.4.10

[2016-12-06 17:07] novalis opened #1173 "templatePath implies Repository.INIT_FLAG.EXTERNAL_TEMPLATE?"
#1172 adds some documentation on repository.initExt: Repository.INIT_FLAG.EXTERNAL_TEMPLATE must be set, or templatePath will be ignored.  It seems to me that there is no good reason for this; one would never set templatePath unless one wanted to use it.  So I think it would be good if nodegit automatically set the flag.  Does anyone object to me implementing this?

[2016-12-07 18:02] tommoor commented on #537
I'm still seeing this behavior in the latest 0.16 release - `getStatus` does not resolve sporadically

[2016-12-07 23:16] saper commented on #1162
Yes, 411 is an HTTP error code, in this case related to the size limit. SSH will be fine in this situation.

[2016-12-07 23:16] #1162 closed

[2016-12-13 14:58] sebastienbarre opened #1174 "Best way to get first commit of file? (fileHistoryWalk?)"
I'm trying to get the date/time a file was first created in a git repo. I'm at HEAD, I know the file exists. This is what I came up with, with help from a user on Slack.
[code]
Is that the recommended way? I'm not super keen on having a magic number in the code (`30000`), but I don't know how to tell the walker to go "as far as you can, until you reach the first commit".

Thanks

[2016-12-14 12:31] crusy commented on #914
+n

[2016-12-17 22:33] k4rtik commented on #1166
Facing same issue macOS 10.12.2

[2016-12-19 15:07] ibc opened #1175 "Fails to install on Ubuntu 16.04 xenial"
I've seen #1088. I've already installed `libssl-dev`.

[code]

[code]

`npm install nodegit` still fails:

<details>
[code]
</details>

[2016-12-19 15:09] ibc commented on #1175
Ok, `g++` was missing.

[2016-12-19 15:09] #1175 closed

[2016-12-19 15:15] ibc commented on #1037
This issue should not be closed. The very same happens in Ubuntu 16.04. It is not fixed at all by just installing `libssl-dev`.

[2016-12-20 14:10] czerwonkabartosz commented on #1168
I have the same problem.

[code]

[2016-12-20 14:23] czerwonkabartosz commented on #1168
@DinkDonk I found the solution. For me, enough to run the command `ssh-add` to add the SSH key to the ssh-agent.

[2016-12-21 13:51] maganap commented on #1037
Same issue here on Debian. Updated to latest stable npm, node and libssl-dev.

node v6.9.2
npm  v4.0.5
Debian GNU/Linux 8 (jessie)

`npm ERR! Linux 3.16.0-0.bpo.4-amd64
npm ERR! argv "/root/.nvm/versions/node/v6.9.2/bin/node" "/root/.nvm/versions/node/v6.9.2/bin/npm" "install"
npm ERR! node v6.9.2
npm ERR! npm  v4.0.5
npm ERR! code ELIFECYCLE

npm ERR! nodegit@0.6.3 install: `node lifecycleScripts

[2016-12-21 15:46] AKFourSeven commented on #1157
Same here cannot install nodegit because of the missing binaries.

[2016-12-23 22:38] bjentsch commented on #1037
Try installing `node-legacy`:
`sudo apt install nodejs-legacy`

For me, the error was that the script tried to execute some command with `node ...`, which wasn't found because it is only contained in the `nodejs-legacy` bundle.

[2016-12-25 07:29] thisconnect opened #1176 "maintained?"
hi is Nodegit maintained?

[2016-12-28 18:06] felixfbecker commented on #560
@ggendre Do you have a small snippet that essentially does `git clone --recursive`? Completely lost

[2016-12-29 09:50] Jschyz opened #1177 "Self-built gitlab Connection refused"
Hey, guys.
I want to clone a private self-built gitlab project. But it always return ```[Error: Failed to connect to gitlab.domain: Connection refused]```
I have no idea what's wrong with my code... please give me a help

environment:
macOS 10.11.6
node.js 4.4.3
nodegit 0.16.0

Here is my code:

[code]

[2016-12-29 12:15] jensklose commented on #1177
Have you ever tried:
[code]

What is the terminal answer of a:
[code]
or
[code]

Is the user ```username``` with the password ```password``` really added in gitlab?

[2016-12-30 16:42] saper commented on #1177
Does gitlab.domain allow SSH connections at all? maybe it is configured to be HTTPS only?

[2017-01-02 14:15] MarkusSR1984 commented on #1166
Same problem on windows!

Has anyone an fix for it ?

[2017-01-03 08:45] vilazae commented on #1037
Hello to everyone!, I'm having the same issue. Could you give me some suggestions?

**OS**: CentOS release 6.8 (Final)
**Node.js**: v6.9.2
**npm**: v3.10.9

output:
[code]

Regards!

[2017-01-03 09:53] chendachao commented on #1177
Just wondering you defined `cloneOptions` variable but didn't use it like this `var cloneRepository = NodeGit.Clone(cloneURL, localPath, cloneOptions);`, any reasons?

[2017-01-03 17:04] luii commented on #1176
+1

[2017-01-04 23:21] maxkorp commented on #1176
Yes, although we've been a less active lately than one would hope.

[2017-01-05 05:35] rcjsuen commented on #1045
I got hit by this also.

[2017-01-05 12:31] rcjsuen commented on #1119
Great catch, @frederikbrinck! You are correct that `annotationCreate` will not create a tag in the repository. It merely creates it in the object database. The documentation should definitely be updated as this is not obvious at all if you ask me... :(

`git_tag_create`
"Create a new tag in the repository from an object"
https://libgit2.github.com/libgit2/#HEAD/group/tag/git_tag_create

`git_tag_a

[2017-01-05 21:53] rcjsuen commented on #1139
Interesting find. I did some digging and found a few other cases where the `apply()` function was missing.
[code]
The common theme I've found between all of these classes are that only have class methods and no instance methods. However, `Ignore` also fulfills this criteria but does not have this problem so something else is different about these particular classes.

Note that if you look at the b

[2017-01-06 05:00] rcjsuen commented on #788
Isn't this a problem with `normalizeOptions(*)` and not `promisify-node`? The normalizing code [will not change anything and simply returns `null`](https://github.com/nodegit/nodegit/blob/af73105ebe8200c1e5446f3489d00be75e960e17/lib/utils/normalize_options.js#L10-L12) if the provided `options` parameter is `null`.

[code]

[2017-01-06 05:14] rcjsuen commented on #639
Is the example still broken, @ttz21? I ran `examples/diff-commits.js` today and it completed without any errors.

[2017-01-06 05:26] rcjsuen commented on #640
Hi, @harishsinghbisht8. The issues page is for reporting bugs and not for asking for support. You may want to consider asking on [nodegit/nodegit](https://gitter.im/nodegit/nodegit) gitter.im channel or on [#nodegit](https://libgit2.slack.com) on libgit2.slack.com.

With that in mind though, you can take a look at [`pull.js`](https://github.com/nodegit/nodegit/blob/master/examples/pull.js) file in

[2017-01-06 05:27] rcjsuen commented on #673
Is the example still broken, @asgeirbirkis? I ran `examples/diff-commits.js` today and it completed without any errors.

[2017-01-06 05:30] rcjsuen commented on #655
Can this be closed? #656 was closed but the corresponding #670 has been merged into `master`.

[2017-01-06 07:52] rcjsuen opened #1182 "Repository's createBranch(*) function has incorrect documentation"
From the [online documentation](http://www.nodegit.org/api/repository/#createBranch), you can see that the `createBranch(*)` function takes five parameters.

However, if you look at the [actual code](https://github.com/nodegit/nodegit/blob/cd5c051320f1dc8d4fb97d139371fad8f1819c20/lib/repository.js#L387-L398), you will see that there are only three parameters.

[2017-01-06 10:25] rcjsuen commented on #925
I tried the example @tylerchurch provided and I did get the same segmentation fault he did. On another run, the program died with an Odb read failure.
[code]
Not surprisingly, the object cannot be found in the repository.
[code]
In fact, if you look closely, it is actually a 39-character hash instead of a 40-character hash!

[2017-01-06 10:46] #655 closed

[2017-01-06 11:49] rcjsuen commented on #925
Here are two different failure cases that are caused by assertion failures. The first one is the original problem reported in this bug. I think the second is probably just an unfortunate by-product of the same problem.
[code]
[code]
The line numbers aren't perfect (I'm not sure what happened with Visual Studio) but you get the idea.

[2017-01-06 13:52] rcjsuen commented on #925
OK, I think I figured it out. Of course, the solution was right before my very eyes.

In `git_submodule_foreach`, each submodule in the git_vector is [**freed(!)**](https://github.com/nodegit/libgit2/blob/37dba1a739b5ee6c45dc9f3c0bd1f7f7a18f13f7/src/submodule.c#L527-L539) after `git_vector_foreach` is executed on the submodules. This would explain why the submodules could no longer be used "in the

[2017-01-07 05:14] rcjsuen opened #1183 "Incorrect function arguments will cause Node to crash"
Please run the code below and your Node will crash. No exceptions will be logged at all.
[code]
[code]

[2017-01-07 05:24] rcjsuen commented on #1140
I wasn't able to reproduce this problem on Node 5.1.0, @kovensky. Note that I did have to change your code slightly as your `files.map(*)` function referred to `revWalk` instead of `revwalk`. I imagine that is an unrelated matter though.

[2017-01-07 05:35] rcjsuen commented on #1183
See #1070 for a similar instance of this type of bug.

[2017-01-07 06:41] rcjsuen commented on #1127
Can close #1070 and #1183 as duplicates of this I think.

[2017-01-07 20:11] rolandjitsu commented on #121
@maxkorp so you can use `addByPath()` to add an entire directory? Because I see the same error reported here when I try to add a dir.

[2017-01-08 11:03] rolandjitsu opened #1185 "remote.push() never finishes"
I made a simple function I can use to push to a remote repo, but it seems to be behaving strangely:
[code]

It looks like the credentials callback is called endlessly. It logs `git` for the user and the url points to the right remote repository.

[2017-01-08 12:18] rcjsuen commented on #1185
This is probably a duplicate of #1133.

[2017-01-08 12:21] rolandjitsu commented on #1185
Probably, I'll close this one.

[2017-01-08 12:21] #1185 closed

[2017-01-08 12:31] rcjsuen commented on #1133
The code is stuck in a loop because authentication is failing. The [loop](https://github.com/nodegit/libgit2/blob/b7809b84692b4df7f11d603cc5da0860609e0555/src/transports/ssh.c#L611-L627) is from libgit2's `ssh.c` file.

[code]

[2017-01-10 18:13] tristanlee85 commented on #1037
I feel I am running into a similar issue as others here. I'm on OSX 10.12.2. For the sake of trying, I did install `libssh2` via Homebrew, but it hasn't changed anything. Here's my output:

[code]

[2017-01-11 00:36] unexaminedlife opened #1188 "clone not working without an absolute local path on Ubuntu 14.04"
When testing nodegit clone on a Ubuntu VM created by using Vagrant, nodegit doesn't work and doesn't give any message when a local path is specified like "nodegit". It does work when an absolute local path is used "/tmp/nodegit".

[2017-01-13 13:48] rcjsuen opened #1189 "Provide TypeScript definition files"
Since the JavaScript code is already generated, perhaps TypeScript definition files could also be generated?

Alternatively, I suppose they could be handwritten if it came down to it...

[2017-01-15 09:07] rcjsuen commented on #121
Yup, this is not working. The [changes to the example](https://github.com/nodegit/nodegit/pull/283/files) doesn't actually cover the case of passing a directory into `addByPath`, it's only checking for something like `folder/file.txt`.

[code]

[code]

Since the JavaScript implementation is a direct wrapper of [```git_index_add_bypath```](https://libgit2.github.com/libgit2/#HEAD/group/index/git_in

[2017-01-16 10:55] rolandjitsu commented on #121
@rcjsuen I agree. The `.addAll()` function supports globs though, so that's an alternative. But that command fails as well if you pass in just a folder.

[2017-01-16 13:08] zaak commented on #1168
I had the same result on Linux. For me it started working after I added private and pub key under `~/.ssh/id_rsa` and `~/.ssh/id_rsa.pub` respectively.

[2017-01-16 20:28] #1160 closed

[2017-01-16 21:03] Kanaye commented on #1160
Awesome Thanks!

[2017-01-17 17:58] dfrankland opened #1191 "Prebuilt for nodegit@0.16.0 and electron@^1.4 on linux does not exist"
I was checking for prebuilts on S3 using `curl` and found that the `linux` variant for `nodegit@0.16.0` and `electron@^1.4` does not exist.

[code]

[2017-01-17 20:53] rcjsuen commented on #1191
Also see issue #1157.

[2017-01-18 16:44] threeq commented on #372
@tbranyen
perfect! It's work!

[2017-01-19 22:28] dolanmiu opened #1192 "Module not found: Error: Cannot resolve 'file' or 'directory'... in Electron"
When using `nodegit` in Electron, I get the following error only when using nodegit on the **renderer** thread. It works totally fine on the **main** thread. I don't want to have to IPC to the main thread to use this library!

Error:

[code]

[2017-01-20 09:59] rcjsuen commented on #1192
@dolanmiu Did you try running webpack with `webpack --display-error-details`?

[2017-01-21 02:54] dolanmiu commented on #1192
@rcjsuen when I do that, the same error happens, same output

[2017-01-21 08:15] rcjsuen commented on #1192
I don't know. It might. If you look at your build output, what happens in the case where you're using the renderer thread instead of the main thread? On that note, I'm having difficulties understanding how this is a problem with NodeGit and Electron. Isn't this a problem with NodeGit and webpack?

[2017-01-21 12:56] rcjsuen commented on #1122
This makes testing a lot harder than it needs to be. :(

[2017-01-21 20:30] dolanmiu commented on #1192
@rcjsuen it works on the main thread. It does not work on the renderer thread.

This is so puzzling.

[2017-01-21 21:54] rcjsuen commented on #1192
Yes, I understand that. I mean where is webpack searching for `nodegit.node` if you put your code in the main thread?

I'm still having difficulties understanding how this is an issue with Electron. webpack is not a requirement for creating and running Electron applications. Can you launch your application if you don't use webpack?

[2017-01-21 22:28] rcjsuen commented on #1192
@dolanmiu Do you have your broken code in a branch somewhere or is it what's on [master](https://github.com/dolanmiu/Git-Proton) right now?

[2017-01-21 22:31] dolanmiu commented on #1192
@rcjsuen yes, master should work. Webpack must be search for `nodegit.node` in the Release folder. Otherwise it would complain.

I am starting to think maybe it is related to a configuration within webpack? Maybe I need to specify `Debug Mode` or something.

[2017-01-21 22:50] rcjsuen commented on #1192
I had to make a change to `package.json` because of a [bug](https://github.com/s-panferov/awesome-typescript-loader/issues/190) in the Awesome Typescript loader. Otherwise, your code in `master` builds fine for me.

[2017-01-21 22:58] dolanmiu commented on #1192
@rcjsuen i know, it will work fine because i try not to push broken code into master

however, if you pull `master` now, it should break because of this commit:

https://github.com/dolanmiu/Git-Proton/commit/c4735a2c2a8d270486e5512d38e341090aeaeb94

this should reproduce the bug i am seeing

[2017-01-21 23:20] rcjsuen commented on #1192
@dolanmiu Your issue definitely looks like a webpack problem. I suggest you look into making some [changes](https://github.com/dolanmiu/Git-Proton/pull/1) to your `webpack.prod.js` file.

I don't think this is a bug with NodeGit.

[2017-01-22 10:55] zyu539 opened #1193 "Question about Index.conflictAdd method"
Hi there,
When I was trying to use index.conflictAdd() to update the conflict files, I found ancestor_index, their_index and our_index are needed. However, I could only get their_index by using conflictGet() method and found no way to get the other two indexes. And I found in libgit2, git_index_conflict_get would help us get all the indexes. So is there any way in nodegit for us to find out are th

[2017-01-22 11:16] rcjsuen opened #1194 "Nan::TryCatch instantiated but not used"
Both [`callback_helpers.cc`](https://github.com/nodegit/nodegit/blob/38bcb340bbac946d3a389d3b13ffe1f62f0958b6/generate/templates/partials/callback_helpers.cc#L57) and [`field_accessors.cc`](https://github.com/nodegit/nodegit/blob/38bcb340bbac946d3a389d3b13ffe1f62f0958b6/generate/templates/partials/field_accessors.cc#L179) define a `Nan::TryCatch` but doesn't reference it at all afterwards.

On the

[2017-01-22 15:36] dolanmiu commented on #1192
Thanks! this worked

Seems like this `fs` thing is common in webpack:

https://github.com/webpack/webpack/issues/839#issuecomment-76738356

http://stackoverflow.com/questions/40207277/using-webpack-to-use-require-modules-in-browser

[2017-01-22 15:36] #1192 closed

[2017-01-23 09:14] rcjsuen commented on #1193
@zyu539 The `conflictGet(*)` function only has one parameter in the promise but you can actually get all three `IndexEntry` instances from the parameter. Please see below.

[code]

[2017-01-26 02:13] Glowyrm commented on #1132
installing latest 0.16 fails

windows 8.1, node v6.2.1

[nodegit] WARN - Could not finish postinstall
{ Error: Command failed: node C:\Users\b\Documents\des_projects\web_dev\tim\tsampi_fcommit\node_modules\nodegit\dist\nodegit.js

    at ChildProcess.exithandler (child_process.js:207:12)
    at emitTwo (events.js:106:13)
    at ChildProcess.emit (events.js:191:7)
    at maybeClose (internal/child_

[2017-01-26 21:39] myuseringithub opened #1196 "Cannot install package on Jessie using npm"
Installing inside a Docker container running Nodejs official image (which in turn runs Jessie).
Node v7.4.0 & npm 4.0.5

Installed as recommended all therese:
[code]

Error:
[code]

[2017-01-27 13:39] johnhaley81 commented on #1176
Hey! We all were buckled down for a bit focusing on getting [GitKraken 2.0](https://blog.axosoft.com/2017/01/25/gitkraken-v2/) going.

We now resume our regularly scheduled program.

[2017-01-27 13:39] #1176 closed

[2017-01-27 13:41] johnhaley81 commented on #1155
Merged #1170

[2017-01-27 13:41] #1155 closed

[2017-01-27 13:42] #1147 closed

[2017-01-27 13:59] johnhaley81 commented on #673
I can run the example on master as well. Closing this out.

[2017-01-27 13:59] #673 closed

[2017-01-27 14:00] johnhaley81 commented on #639
Dupe of #673

[2017-01-27 14:00] #639 closed

[2017-01-27 15:08] johnhaley81 commented on #1191
Just published it.

[2017-01-27 15:08] #1191 closed

[2017-01-27 15:09] johnhaley81 commented on #1157
Looks like NodeGit doesn't build on node v7 at all right now. We have to figure out a way to link to OpenSSL better. Fix should be incoming soon. Thanks!

[2017-01-27 15:10] johnhaley81 commented on #1196
Related to #1157. Currently NodeGit doesn't build for node v7. We're working on fixing that. Closing this out. Please follow #1157 for updates.

[2017-01-27 15:10] #1196 closed

[2017-01-27 15:15] myuseringithub commented on #1196
Thanks

[2017-01-27 15:17] johnhaley81 commented on #1194
That's definitely an oversight. I'm not sure what the original intention with a thrown error is though. I feel like handling the error in C++ is going to be tricky so our best bet right now is to remove the unused `Nan::TryCatch` and then add it in again later when we have a good strategy for what to do with it.

[2017-01-27 15:21] johnhaley81 commented on #1189
We use [Flow](https://flowtype.org/) in GitKraken for our type system. I'd love to get some sort of typings up for NodeGit. A system that can send out both would be ideal.

We'd be able to maintain the flow stuff pretty well and confirm that it's valid since we use it daily in our environment but my only real concern is that nobody on the team uses TypeScript so it would be easier for an error to

[2017-01-27 15:24] johnhaley81 commented on #1070
Yep, you're right. This is related to #1127 so I'm going to close this out and we can continue the conversation in that issue.

[2017-01-27 15:24] #1070 closed

[2017-01-27 15:25] johnhaley81 commented on #1183
Dupe of #1070.

Please follow #1127 for updates.

[2017-01-27 15:25] #1183 closed

[2017-01-27 15:27] johnhaley81 commented on #1127
@rcjsuen thanks. Closed those other issues in favor of this one. Updates will be posted here.

[2017-01-27 15:46] johnhaley81 commented on #1171
We currently aren't building on Node v7. Please follow #1157 for updates. Thanks!

[2017-01-27 15:46] #1171 closed

[2017-01-27 15:47] johnhaley81 commented on #1168
Closing this as resolved.

[2017-01-27 15:47] #1168 closed

[2017-01-27 15:52] johnhaley81 commented on #1167
You can do:

[code]

[2017-01-27 15:52] #1167 closed

[2017-01-27 15:54] johnhaley81 commented on #1166
@MarkusSR1984 can you post a debug log please?

[2017-01-27 15:55] johnhaley81 commented on #1161
NodeGit currently isn't working on Node v7. Please follow #1157 for updates.

[2017-01-27 15:55] #1161 closed

[2017-01-27 15:56] johnhaley81 commented on #1159
@hardog can you post your code? It's hard to know what's going on from the description of the problem. Thanks!

[2017-01-27 15:59] johnhaley81 commented on #1158
We don't support io.js anymore (haven't for a while). Issue to remove them from the webpage: https://github.com/nodegit/nodegit.github.com/issues/47

[2017-01-27 15:59] #1158 closed

[2017-01-27 16:00] johnhaley81 commented on #1156
Yes, Apple removed libgcrypt from OSX by default now so we need to list it as a requirement now. Sorry about that.

@DinkDonk did you ever get it to build on your machine?

[2017-01-27 16:01] johnhaley81 opened #1200 "List libgcrypt as a requirement for OSX"
Apple removed libgcrypt from OSX by default in Sierra. Developers now have to do a `brew install libgcrypt` to get NodeGit to build.

[2017-01-27 16:02] johnhaley81 commented on #1166
Issue to add libgcrypt as a requirement for OSX #1200

[2017-01-27 16:02] johnhaley81 commented on #1156
Issue to add libgcrypt as a requirement for OSX #1200

[2017-01-27 16:04] johnhaley81 commented on #1153
This should fix #1157 as well.

[2017-01-27 16:07] johnhaley81 commented on #1145
If @almarieSaayman or @DanUgore can provide more details about their environment then we can reopen this issue but for now I'm going to close it since there's no good way to track down what's broken.

[2017-01-27 16:07] #1145 closed

[2017-01-27 16:09] johnhaley81 commented on #1130
@RichardLewin87 can you add a `.npmrc` file to the root of your project with this in it:

[code]

Also, I think it won't compile against it currently since NodeGit is broken on Node v7 which is used in Electron 1.4. Follow #1157 for updates on that issue.

[2017-01-27 21:06] johnhaley81 opened #1202 "Extract out a utility function for constructing paths"
#1186 and #1148 solve essentially the same problem but in 2 different ways. For the general case we should go with #1186 and create a utility function that is then used in other places to normalize out the path construction.

[2017-01-27 21:08] johnhaley81 commented on #1082
Should be fixed on master.

[2017-01-27 21:08] #1082 closed

[2017-01-27 23:04] #1182 closed

[2017-01-28 03:46] MattMcFarland commented on #1161
Thanks!

[2017-01-28 10:19] DinkDonk commented on #1156
Tried building now after pulling the latest nodegit changes. Did a reinstall of libcrypt for good measure. It works!

Thank you 🥇

[2017-01-28 16:30] #1156 closed

[2017-01-29 00:16] tbranyen commented on #1157
@johnhaley81 ha just hit this myself >_< damn arch linux bumping to 7

[2017-01-29 01:41] rcjsuen commented on #634
`createCommit` is now on the [website](http://www.nodegit.org/api/repository/#createCommit) and the `openIndex` function has since been removed from `Repository`. Can we close this?

[2017-01-29 01:48] tbranyen commented on #634
Sounds good to me!

[2017-01-29 01:48] #634 closed

[2017-01-29 02:00] rcjsuen commented on #635
`create` from `Branch` and `setHead` from `Repository` no longer takes a `Signature` so I think we can close these bugs as no longer being applicable.

[2017-01-29 02:01] rcjsuen commented on #701
@maxkorp's comment is very likely the reason behind the crash. `setHeadDetached` no longer takes a `Signature` so I think we can close this.

There is #1127 open for introducing tighter type checking across all of NodeGit.

[2017-01-29 02:23] rcjsuen commented on #654
The documentation is the issue. If the function succeeds, the promise will be resolved and `then` is called but if the call in libgit2 returns a non-zero return code then the promise will be rejected and `catch` is called. Note that there are tons of other functions in NodeGit with this same documentation problem.

[2017-01-29 04:53] rcjsuen opened #1206 "Provide error code when a function call has failed"
[code]
Running the code above will print out the output below if the two commits have no common ancestor.

```[Error: No merge base found]```

The error code behind this error is `Error.CODE.ENOTFOUND` but there is no way for a client to know this. Not having a common ancestor between two commits is an error that a client may be able to handle gracefully but if it the function failed because of so

[2017-01-29 18:45] Bizarrus opened #1207 "bind Repository with HTTP?"
It is possible to bind the Repository over HTTP to access it over http(s)://domain.tld/User/Repo.git?

[2017-01-30 09:13] MarkusSR1984 commented on #1166
@johnhaley81  sorry my tests with this packe are to long ago. i deleted all files

[2017-01-30 11:18] rcjsuen commented on #1127
I think we want to use the [`HasInstance(*)`](https://v8docs.nodesource.com/node-7.4/d8/d83/classv8_1_1_function_template.html#a0087e655199fc379268786674f03bc3f) function of a v8 `FunctionTemplate` though I'm not really quite sure how we can randomly access a prototype constructor's `FunctionTemplate` instance. At least, I think that's what we would need to implement this...? o_o

[2017-01-30 12:44] rcjsuen commented on #1206
I couldn't figure out how to implement the first pattern with two arguments since the promise didn't seem to want to return two things. :(

I did get some code working that implements the second pattern though. I changed the error code's property name to be `errno` instead of `code` to match what was already used elsewhere in [`async_function.cc`](https://github.com/nodegit/nodegit/blob/38bcb340bb

[2017-01-30 17:38] #1128 closed

[2017-01-30 18:10] maxkorp commented on #1207
For a clone example, see here: https://github.com/nodegit/nodegit/blob/master/test/tests/clone.js#L31

Skipped because github forces over to https, but thats how transport is handled using cloning as an example.

If you need further support, hit us up in our slack channel in the libgit2 slack
https://slack.libgit2.org

[2017-01-30 18:10] #1207 closed

[2017-01-30 18:11] maxkorp commented on #1200
Why is libgcrypt required? Doesn't it use openssl? or did something change?

[2017-01-30 18:13] maxkorp commented on #1200
Yeah with a fresh Sierra install, without libgcrypt installed via brew, I am able to build.

[2017-01-30 18:13] maxkorp commented on #1200
Ohhhhh I bet i know, hold on

[2017-01-30 18:15] maxkorp commented on #1166
The root issue here I believe https://github.com/nodegit/nodegit/issues/1093

Note: `Users/roman/projects/nodegit/vendor/libssh2/configure --with-libssl-prefix=/Users/roman/projects/nodegit/vendor/openssl/openssl
/Users/roman/projects/nodegit/vendor/libssh2/missing` From the posted log.